<!DOCTYPE html>
<!--
 - 文件描述
 - @author ydr.me
 - @create 2014-12-14 14:58
 -->
<html>
<head lang="zh-cn">
    {{include ../../include/meta.html}}
    {{include ../include/meta.html}}
</head>
<body ontouchstart="">

{{include ../include/sidebar.html}}
<div class="g-main">
    {{include ../include/welcome.html}}
    <div class="m-main">
        <h1 class="main-title"><i class="i i-key"></i>{{title}}</h1>
        <div class="main-body">
            {{include ../include/setting/list-role.html}}
        </div>
    </div>
    {{include ../include/footer.html}}
</div>

<script src="/static/js/libs/coolie.min.js" data-main="./admin/setting-role.js"></script>
<script src="/static/js/libs/coolie-config.js"></script>
</body>
</html>