<ul class="m-form f-none" id="form">
    <li class="row">
       <div class="col-xs-2">title</div>
       <div class="col-xs-10">
           <p class="form-ipt" v-if="object._id">\{{object.title}}</p>
           <input v-if="!object._id" class="ipt" type="text" name="title" v-model="object.title" value="\{{object.title}}"/>
           <p class="form-desc">问题的标题，5-100字符以内。</p>
       </div>
    </li>

    <li class="row">
       <div class="col-xs-2">URI</div>
       <div class="col-xs-10">
           <p class="form-ipt" v-if="object._id">\{{object.uri}}</p>
           <input v-if="!object._id" class="ipt" type="text" name="uri" v-model="object.uri" value="\{{object.uri}}"/>
           <p class="form-desc">问题的URI展示，5-100字符以内。</p>
       </div>
    </li>

    <li class="row">
        <div class="col-xs-2">scope</div>
        <div class="col-xs-10">
            <select name="scope" v-model="object.scope" options="scopes" class="ipt"></select>
            <p class="form-desc">问题所在的域。</p>
        </div>
    </li>

    <li class="row">
        <div class="col-xs-2">content</div>
        <div class="col-xs-10">
            <textarea name="content" rows="5" v-model="object.content" class="ipt" id="content">\{{object.content}}</textarea>
            <p class="form-desc">使用<code>markdown</code>语法详细的问题描述。</p>
        </div>
    </li>

    <li class="row">
        <div class="col-xs-2">labels</div>
        <div class="col-xs-10">
            <div class="row">
                <div class="col-xs-2">
                    <input class="ipt" type="text" name="label" placeholder="label"/>
                </div>
                <div class="col-xs-10"></div>
            </div>
            <p class="form-desc">输入 label 后回车。添加合适的 label 有助于更快的被检索到。最多可以添加5个 label。</p>
        </div>
    </li>

    <li class="row">
        <div class="col-xs-10 col-xs-push-2">
            <label for="draft"><input type="checkbox" name="draft" id="draft" v-model="!object.isDisplay"/>保存为草稿</label>
            <button class="btn btn-primary" v-on="click:onsave($event, object)"><i class="i i-save"></i>保存</button>
        </div>
    </li>
</ul>