<ul class="m-form f-none" id="form">
    <li>
        <div class="form-key">链接标题<span class="form-required">*</span></div>
        <div class="form-val">
            <p class="form-opt" v-if="object._id">\{{object.title}}</p>
            <input v-if="!object._id" class="ipt" type="text" name="title" v-model="object.title"
                   value="\{{object.title}}" id="title"/>

            <p class="form-desc">链接的标题，5-100字符以内。仅支持：中文、英文、数字、短横线、下划线、逗号。</p>
        </div>
    </li>

    <li>
        <div class="form-key">链接 uri<span class="form-required">*</span></div>
        <div class="form-val">
            <p class="form-opt" v-if="object._id">\{{object.uri}}</p>
            <input v-if="!object._id" class="ipt" type="text" name="uri" v-model="object.uri" value="\{{object.uri}}"
                   id="uri"/>

            <p class="form-desc">链接的 uri 展示，5-200 字符长度以内。仅支持：英文、数字、下划线、短横线。</p>
        </div>
    </li>

    <li>
        <div class="form-key">链接分类<span class="form-required">*</span></div>
        <div class="form-val">
            <select name="category" v-model="object.category" options="categories" class="ipt"></select>

            <p class="form-desc">链接所在的分类。</p>
        </div>
    </li>

    <li>
        <div class="form-key">链接专栏<span class="form-required">*</span></div>
        <div class="form-val">
            <select name="category" v-model="object.column" options="columns" class="ipt"></select>

            <p class="form-desc">链接所在的专栏（<a href="/admin/column/">新建专栏</a>）。</p>
        </div>
    </li>

    <li>
        <div class="form-key">链接地址<span class="form-required">*</span></div>
        <div class="form-val">
            <input class="ipt" type="text" name="link" v-model="object.link" value="\{{object.link}}"/>

            <p class="form-desc">合法可访问的链接地址，5-255 字符长度以内。</p>
        </div>
    </li>

    <li>
        <div class="form-key">链接详述<span class="form-required">*</span></div>
        <div class="form-val">
            <textarea name="content" rows="5" v-model="object.content" class="ipt"
                      id="content">\{{object.content}}</textarea>

            <p class="form-desc">使用<code>markdown</code>语法详细的链接描述，不能使用任何标签，详细阅读<a href="#">《前端开发者社区 markdown 语法约定》</a>。</p>
        </div>
    </li>

    <li>
        <div class="form-key">链接标签</div>
        <div class="form-val">
            <div class="row">
                <div class="col-xs-4">
                    <input class="ipt" type="text" name="label" placeholder="label"
                           v-model="object.label" v-on="keyup: pushlabel | key 13"
                           v-attr="disabled: object.labels.length == 5"/>
                </div>
            </div>
            <div class="row">
                <div class="col-xs-12">
                    <ul class="f-list-left form-opt m-labes">
                        <li v-repeat="object.labels">\{{$value}}
                            <a href="javascript:;" class="i i-times s-danger" v-on="click: removelabel($index)"></a></li>
                    </ul>
                </div>
            </div>
            <p class="form-desc">输入 label 后回车。添加合适的 label 有助于更快的被检索到。最多可以添加<strong>5</strong>个 label。</p>
        </div>
    </li>

    <li>
        <div class="form-action f-text-center">
            <label for="draft"><input type="checkbox" name="draft" id="draft" v-model="object.isDisplay"/>对他人可见</label>
            <i class="f-space"></i>
            <button class="btn btn-primary" v-on="click: save($event, object)"><i class="i i-save"></i>保存</button>
            <i class="f-space"></i>
            <a class="btn btn-success" v-class="f-none: !object.isDisplay || !object.id" href="/link/\{{object.uri}}.html"><i class="i i-eye"></i>查看</a>
        </div>
    </li>
</ul>