<ul class="m-form m-form-vertical">
    <li>
        <div class="form-key">name</div>
        <div class="form-val">
            <input class="ipt" type="text" v-model="section.name"/>
        </div>
    </li>

    <li>
        <div class="form-key">uri</div>
        <div class="form-val">
            <input class="ipt" type="text" v-model="section.uri"/>
        </div>
    </li>

    <li>
        <div class="form-key">cover</div>
        <div class="form-val">
            <input class="ipt" type="text" v-model="section.cover"/>
        </div>
    </li>

    <li>
        <div class="form-key">introduction</div>
        <div class="form-val">
            <textarea class="ipt" rows="3" v-model="section.introduction"></textarea>
        </div>
    </li>

    <li>
        <div class="form-action f-text-center">
            <button class="btn btn-primary" v-on="click: onsave">\{{section.id ? '保存分类' : '新建分类'}}</button>
        </div>
    </li>
</ul>