{{if list.length}}

{{list list as item}}
<li class="alien-ui-response-item
{{if object.acceptResponse === item.id}}alien-ui-response-item-accepted{{/if}}"
    id="response-{{item.id}}"
    data-id="{{item.id}}"
    data-parent="{{item.parent}}">
    <div class="f-clearfix alien-ui-response-main">
        <div class="alien-ui-response-avatar f-left">
            <a href="#"><img src="{{item.author.avatar}}" alt="avatar" width="50" height="50"/></a>
        </div>
        <div class="alien-ui-response-body">
            <ul class="alien-ui-response-meta s-light f-list-left">
                <li><a href="#"><i class="i i-user"></i>云淡然</a></li>
                <li><i class="i i-clock-o"></i>{{item.publishAt|datefrom}}</li>
            </ul>

            <div class="alien-ui-response-content">{{=item.contentHTML}}</div>

            <ul class="alien-ui-response-meta alien-ui-response-action s-light f-list-left">
                <li>
                    <button class="btn btn-primary btn-xs alien-ui-response-reply"><i class="i i-reply"></i>回复<span
                            class="alien-ui-response-number">{{item.replyByCount}}</span></button>
                </li>
                <li>
                    <button class="btn btn-default btn-xs alien-ui-response-agree"><i class="i i-thumbs-up"></i>赞同<span
                            class="alien-ui-response-number">{{item.agreeByCount}}</span></button>
                </li>
                {{if engineer.id === author.id && object.acceptResponse === item.id}}
                <li class="alien-ui-response-accept-li">
                    <button class="btn btn-success btn-xs alien-ui-response-accept"
                            title="点击取消为最佳答案"><i
                            class="i i-check"></i>取消最佳回答</button>
                </li>
                {{else if engineer.id === author.id && item.author.id !== engineer.id}}
                <li class="alien-ui-response-accept-li">
                    <button class="btn btn-warning btn-xs alien-ui-response-accept"><i
                            class="i i-check"></i>采纳回答</button>
                </li>
                {{/if}}
            </ul>
        </div>
    </div>

    {{if !item.parent}}
    <div class="alien-ui-response-children">
        <ul class="alien-ui-response-list j-flag"></ul>
        <div class="j-flag f-text-center"></div>
        <div class="j-flag f-text-center"></div>
    </div>
    {{/if}}

    <i class="i i-flag"></i>
</li>
{{/list}}

{{else}}

    <li class="f-text-center s-light alert">
        <i class="i i-info-circle"></i>暂无任何{{type === "comment" ? '评论':'回复'}}
    </li>

{{/if}}
