{{if list.length}}

{{list list as item}}
<li class="alien-ui-response-item
{{if object.acceptByResponse === item.id}} alien-ui-response-item-accepted{{/if}}"
    id="response-{{item.id}}"
    data-id="{{item.id}}"
    data-author="{{item.author.id}}"
    data-parent="{{item.parentResponse}}">
    <div class="clearfix alien-ui-response-main">
        <div class="alien-ui-response-avatar pull-left">
            <a href="/developer/{{=item.author.githubLogin}}/"><img src="{{item.author.avatar}}"
                                                                    class="img-rounder"
                                                                    alt="avatar" width="50" height="50" coolieignore/></a>

            {{if !item.parentResponse}}
            <i class="fi fi-check alien-ui-response-flag"></i>
            {{/if}}
        </div>
        <div class="alien-ui-response-body">
            <ul class="alien-ui-response-meta list-left">
                <li><a href="/developer/{{=item.author.githubLogin}}/"><i
                        class="fi fi-user"></i>{{=item.author.nickname}}</a></li>
                <li class="text-light"><i class="fi fi-clock-o"></i><time datetime="{{+new Date(item.publishAt)}}">{{item.publishAt|datefrom}}</time></li>
            </ul>

            <div class="alien-ui-response-content typo">{{=item.contentHTML}}</div>

            <ul class="alien-ui-response-meta alien-ui-response-action text-light list-left">
                <li>
                    <button class="btn btn-default btn-sm alien-ui-response-agree"><i class="fi fi-thumbs-up"></i><span
                            class="alien-ui-response-number">{{item.agreeByCount}}</span></button>
                    <span class="alien-ui-response-agreers list-left">
                        {{list item.agreers as agreer}}
                        <a href="/developer/{{=agreer.githubLogin}}/"><img class="img-rounder" src="{{=agreer.avatarM}}" coolieignore></a>
                        {{/list}}
                    </span>
                </li>
                {{if !item.parentResponse}}
                    {{if item.acceptByObject}}
                    <li class="alien-ui-response-accept-li"><button class="btn btn-success btn-sm active" readonly><i
                                class="fi fi-check"></i>已被采纳</button>
                    </li>
                    {{/if}}
                    {{if canAccept && developer.id === author.id && !object.acceptByResponse}}
                    <li class="alien-ui-response-accept-li"><button class="btn btn-warning btn-sm alien-ui-response-accept"><i
                                class="fi fi-check"></i>采纳</button>
                    </li>
                    {{/if}}
                {{/if}}
            </ul>
        </div>
    </div>
</li>
{{/list}}

{{else}}

    <li class="alien-ui-response-loading text-light">
        <i class="fi fi-info-circle"></i>暂无任何评论
    </li>

{{/if}}
