<!DOCTYPE html>
<!--
 - home
 - @author ydr.me
 - @create 2014-12-04 16:18
 -->
<html>
<head lang="zh-cn">
    {{include ../include/meta.html}}
    {{include ./include/meta.html}}
    <script>window['-section-']={uri:'column'};</script>
    <script>window['-pager-']={
        count: '{{pager.count}}',
        page: '{{pager.page}}',
        max: '{{Math.ceil(pager.count/pager.limit)}}',
        limit: '{{pager.limit}}'
    };</script>
</head>
<body ontouchstart="" class="p-list-article">
{{include ./include/nav.html}}


<div class="g-body a-slide-down-fixed">
    <div class="container">

        <div class="m-ptitle">
            <img class="ptitle-cover" src="{{column.cover}}" alt="cover"/>
            <h1 class="ptitle-name"><span>{{column.name}}</span></h1>
            <div class="ptitle-intro text-muted">{{column.introduction}}</div>
            <div class="ptitle-desc text-light">
                <i class="fi fi-user"></i><a href="/developer/{{column.author.githubLogin}}/">{{column.author.nickname}}</a>的专辑
                <span class="text-space"></span>
                <i class="fi fi-bar-chart"></i>{{column.objectCount}}
            </div>
            <div class="ptitle-desc text-light" id="share"></div>
        </div>


        <div class="row g-container">
            <!--主-->
            <div class="col-md-12 g-main">
                {{include ./include/list/column-body.html}}
            </div>
            <!--/主-->
        </div>
    </div>
    {{include ./include/footer.html}}
</div>



<script src="/static/js/coolie.min.js"
        data-config="./coolie-config.js"
        data-main="./front/list.js"></script>

</body>
</html>