<!DOCTYPE html>
<!--
 - 文件描述
 - @author ydr.me
 - @create 2014-12-09 20:32
 -->
<html>
<head lang="zh-cn">
    {{include ../include/meta.html}}
    {{include ./include/meta.html}}
</head>
<body ontouchstart="" class="p-post p-post-opinion">
{{include ./include/nav.html}}

<div class="container">
    <div class="row g-container">
        <!--主-->
        <div class="col-md-8 g-main">
            {{include ./include/developer/main-body.html}}
            {{if pageType === "accept-by"}}
            {{include ./include/developer/main-accept-by.html}}
            {{/if}}
        </div>
        <!--/主-->
        <!--副-->
        <div class="col-md-4 g-sub">
            {{include ./include/developer/sub-statistics.html}}
        </div>
        <!--/副-->
    </div>
</div>

{{include ./include/footer.html}}
</body>
</html>