<!DOCTYPE html>
<!--
 - 文件描述
 - @author ydr.me
 - @create 2014-12-09 20:32
 -->
<html>
<head lang="zh-cn">
    {{include ../include/meta.html}}
    {{include ./include/meta.html}}
    <script>window['-page-']={
        'limit': '{{skipLimit.limit}}',
        'page': '{{skipLimit.page}}',
        'count': '{{skipLimit.count}}'
    };</script>
</head>
<body ontouchstart="" class="p-developer a-slide-down-fixed">
{{include ./include/nav.html}}

<div class="container">
    <div class="row g-container">
        <!--主-->
        <div class="col-md-8 g-main">
            {{include ./include/developer/main-body.html}}
            {{if pageType === "accept-by"}}
            {{include ./include/developer/main-accept-by.html}}
            {{else if pageType === "agree-by"}}
            {{include ./include/developer/main-agree-by.html}}
            {{else if pageType === "comment-by"}}
            {{include ./include/developer/main-comment-by.html}}
            {{else if pageType === "reply-by"}}
            {{include ./include/developer/main-reply-by.html}}
            {{else if pageType === "comment"}}
            {{include ./include/developer/main-comment.html}}
            {{else if pageType === "reply"}}
            {{include ./include/developer/main-reply.html}}
            {{else if pageType === "agree"}}
            {{include ./include/developer/main-agree.html}}
            {{else if pageType === "accept"}}
            {{include ./include/developer/main-accept.html}}
            {{/if}}
        </div>
        <!--/主-->
        <!--副-->
        <div class="col-md-4 g-sub">
            {{include ./include/developer/sub-statistics.html}}
        </div>
        <!--/副-->
    </div>
</div>

{{include ./include/footer.html}}


<script src="/static/js/libs/coolie.min.js"
        data-config="./coolie-config.js"
        data-main="./front/developer.js"></script>

</body>
</html>