<!DOCTYPE html>
<!--
 - home
 - @author ydr.me
 - @create 2014-12-04 16:18
 -->
<html>
<head lang="zh-cn">
    {{include ../include/meta.html}}
    {{include ./include/meta.html}}
</head>
<body ontouchstart="" class="p-home">
{{include ./include/nav.html}}


<div class="container-fluid a-slide-down-fixed">
    <div class="row g-container">
        <!--主-->
        <div class="col-md-9 g-main">
            <ul class="avg-xs-1 avg-sm-2 f-text-center m-home">
                {{var sectionTypes = [];}}
                {{# sectionTypes.push({name: 'article', icon: 'file-text'});}}
                {{# sectionTypes.push({name: 'question', icon: 'cube'});}}
                {{# sectionTypes.push({name: 'link', icon: 'link'});}}
                {{# sectionTypes.push({name: 'help', icon: 'question-circle'});}}

                {{list sectionTypes as st}}
                    {{if section[st.name]}}
                    <li class="home-{{=st.name}}">
                        <a href="/{{=st.name}}/">
                            <div class="home-icon"><i class="i i-{{=st.icon}}"></i></div>
                            <div class="home-name">{{section[st.name].name}}<small>/{{section[st.name].objectCount|humanize}}</small></div>
                            <div class="home-desc">{{section[st.name].introduction}}</div>
                        </a>
                    </li>
                    {{/if}}
                {{/list}}
            </ul>
        </div>
        <!--/主-->

        <!--副-->
        <div class="col-md-3 g-sub">
            <!--统计-->
            <div class="m-card">
                <div class="card-title"><i class="i i-bar-chart"></i>统计</div>
                <div class="card-body">
                    <ul class="m-simplelist s-muted">
                        {{var bestList = [];}}
                        {{# bestList.push({type: '最活跃', key: 'bestActive'});}}
                        {{# bestList.push({type: '最人气', key: 'bestPopularity'});}}
                        {{# bestList.push({type: '最积极', key: 'bestInitiative'});}}
                        {{# bestList.push({type: '最热门', key: 'bestHot'});}}
                        {{# bestList.push({type: '最欢迎', key: 'bestWelcome'});}}
                        {{# bestList.push({type: '最神话', key: 'bestRespect'});}}

                        {{list bestList as best}}
                            <li><i class="i i-user"></i>{{best.type}}：<a href="{{$configs.app.host}}/developer/{{=statistics[best.key].githubLogin}}/"><img src="{{statistics[best.key].email|gravatar:40}}" width="20" height="20">{{statistics[best.key].nickname}}</a></li>
                        {{/list}}

                        <li><i class="i i-user"></i>总用户：{{statistics.engineers|humanize}}</li>
                    </ul>
                </div>
            </div>
            <!--/统计-->
        </div>
        <!--/副-->
    </div>
</div>


{{include ./include/footer.html}}

<script src="/static/js/libs/coolie.min.js"
        data-config="./coolie-config.js"
        data-main="./front/home.js"></script>

</body>
</html>