<!DOCTYPE html>
<!--
 - home
 - @author ydr.me
 - @create 2014-12-04 16:18
 -->
<html>
<head lang="zh-cn">
    {{include ../include/meta.html}}
    {{include ./include/meta.html}}
</head>
<body ontouchstart="" class="p-home">
{{include ./include/nav.html}}


<div class="container">
    <div class="row g-container">
        <!--主-->
        <div class="col-md-9 g-main">
            <ul class="avg-xs-1 avg-sm-2 f-text-center m-home">
                <li class="home-opinion">
                    <a href="/opinion/">
                        <div class="home-icon"><i class="i i-gavel"></i></div>
                        <div class="home-name">观点</div>
                        <div class="home-desc">智慧提问，智慧回答。</div>
                    </a>
                </li>
                <li class="home-question">
                    <a href="/question/">
                        <div class="home-icon"><i class="i i-cube"></i></div>
                        <div class="home-name">智问</div>
                        <div class="home-desc">智慧提问，智慧回答。</div>
                    </a>
                </li>
                <li class="home-weibo">
                    <a href="/weibo/">
                        <div class="home-icon"><i class="i i-twitter"></i></div>
                        <div class="home-name">微博</div>
                        <div class="home-desc">闲言碎语。</div>
                    </a>
                </li>
                <li class="home-help">
                    <a href="/help/">
                        <div class="home-icon"><i class="i i-question-circle"></i></div>
                        <div class="home-name">帮助</div>
                        <div class="home-desc">官方援助，助力融入前端开发者社区。</div>
                    </a>
                </li>
            </ul>
        </div>
        <!--/主-->

        <!--副-->
        <div class="col-md-3 g-sub">
            <!--统计-->
            <div class="m-card">
                <div class="card-title"><i class="i i-bar-chart"></i>统计</div>
                <div class="card-body">
                    <ul class="m-simplelist s-muted">
                        <li><i class="i i-gavel"></i>{{statistics.opinion}}</li>
                        <li><i class="i i-cube"></i>{{statistics.question}}</li>
                        <li><i class="i i-twitter"></i>{{statistics.weibo}}</li>
                        <li><i class="i i-question-circle"></i>{{statistics.help}}</li>
                        <li><i class="i i-user"></i>{{statistics.user}}</li>
                        <li><i class="i i-cloud"></i>{{statistics.uptime}}</li>
                        <li><i class="i i-shield"></i>ABBDHDLWDIQTDIQW</li>
                    </ul>
                </div>
            </div>
            <!--/统计-->
        </div>
        <!--/副-->
    </div>
</div>


{{include ./include/footer.html}}
</body>
</html>