<!DOCTYPE html>
<!--
 - 文件描述
 - @author ydr.me
 - @create 2014-12-10 21:24
 -->
<html>
<head lang="zh-cn">
    {{include ../include/meta.html}}
    {{include ./include/meta.html}}
    <script>window['-section-']='opinion';</script>
</head>
<body ontouchstart="" class="p-home">
{{include ./include/nav.html}}


<div class="container">
    <div class="row g-container">
        <!--主-->
        <div class="col-md-12 g-main">
            <div class="alert alert-warning" style="margin: 20px;">即将来袭。</div>
        </div>
        <!--/主-->
    </div>
</div>


{{include ./include/footer.html}}

<script src="/static/js/libs/coolie.min.js"
        data-config="./coolie-config.js"
        data-main="./front/home.js"></script>

</body>
</html>