<!DOCTYPE html>
<!--
 - 文件描述
 - @author ydr.me
 - @create 2014-12-10 21:26
 -->
<html>
<head lang="zh-cn">
    {{include ../include/meta.html}}
    {{include ./include/meta.html}}
    <script>window['-section-']={uri:'link'};</script>
    <script>window['-pager-']={
        count: '{{pager.count}}',
        page: '{{pager.page}}',
        max: '{{Math.ceil(pager.count/pager.limit)}}',
        limit: '{{pager.limit}}'
    };</script>
</head>
<body ontouchstart="" class="p-list-link">
{{include ./include/nav.html}}


<div class="g-main a-slide-down-fixed">
    <div class="container">
        <div class="row g-container">
            <!--主-->
            <div class="col-md-12 g-main">
                {{include ./include/list/link-body.html}}
            </div>
            <!--/主-->
        </div>
    </div>
</div>


{{include ./include/footer.html}}

<script src="/static/js/libs/coolie.min.js"
        data-config="./coolie-config.js"
        data-main="./front/list.js"></script>

</body>
</html>