<!DOCTYPE html>
<!--
 - 文件描述
 - @author ydr.me
 - @create 2014-12-09 22:48
 -->
<html>
<head lang="zh-cn">
    {{include ../include/meta.html}}
    {{include ./include/meta.html}}
    <script>window['-section-']='question';</script>
    <script>window['-pager-']={
        count: '{{pager.count}}',
        page: '{{pager.page}}',
        max: '{{Math.ceil(pager.count/pager.limit)}}',
        limit: '{{pager.limit}}'
    };</script>
</head>
<body ontouchstart="" class="p-list-question">
{{include ./include/nav.html}}


<div class="container a-slide-down-fixed">
    <div class="row g-container">
        <!--主-->
        <div class="col-md-12 g-main">
            {{include ./include/list/question-body.html}}
        </div>
        <!--/主-->

        <!--副-->
        <!--<div class="col-md-3 g-sub">-->
        <!--</div>-->
        <!--/副-->
    </div>
</div>


{{include ./include/footer.html}}


<script src="/static/js/libs/coolie.min.js"
        data-config="./coolie-config.js"
        data-main="./front/list.js"></script>


</body>
</html>