<!DOCTYPE html>
<!--
 - 文件描述
 - @author ydr.me
 - @create 2014-12-09 22:48
 -->
<html>
<head lang="zh-cn">
    {{include ../include/meta.html}}
    {{include ./include/meta.html}}
</head>
<body ontouchstart="" class="p-home">
{{include ./include/nav.html}}


<div class="container">
    <div class="row g-container">
        <!--主-->
        <div class="col-md-12 g-main">
            {{include ./include/list-question-body.html}}
        </div>
        <!--/主-->

        <!--副-->
        <!--<div class="col-md-3 g-sub">-->
        <!--</div>-->
        <!--/副-->
    </div>
</div>


{{include ./include/footer.html}}
</body>
</html>