<!DOCTYPE html>
<!--
 - 授权跳转
 - @author ydr.me
 - @create 2014-11-22 22:38
 -->
<html>
<head lang="zh-cn">
    {{include ../include/meta.html}}
    {{include ./include/meta.html}}
    <script>
        var locals = {
            accessToken: '{{github.accessToken}}'
        };
    </script>
    <style>
        body {
            margin-top: 40px;
        }
    </style>
</head>
<body ontouchstart="" class="a-slide-down-fixed">

<div class="m-oauth m-oauth-callback f-text-center">
    <p><img src="{{github.email|gravatar:200}}" alt="avatar" width="100" height="100"/></p>

    <h1>hi, {{github.nickname}}</h1>

    <p class="s-muted" id="msg">{{github.hasRegister ? '正在登录……':'请确认登录信息'}}</p>

    {{if !github.hasRegister}}
    <ul class="f-text-left oauth-info f-large">
        <li><strong>email:</strong>{{github.email}}</li>
        <li><strong>github:</strong>{{github.githubLogin}}</li>
    </ul>
    <button class="btn btn-primary" id="btn">确定授权登录</button>
    {{/if}}
</div>

<script src="/static/js/libs/coolie.min.js"
        data-config="./coolie-config.js"
        data-main="./front/oauth-callback.js"></script>
</body>
</html>