<!DOCTYPE html>
<!--
 - 授权跳转
 - @author ydr.me
 - @create 2014-11-22 22:38
 -->
<html>
<head lang="zh-cn">
    {{include ../include/meta.html}}
    {{include ./include/meta.html}}
</head>
<body ontouchstart="">
    <div class="container">
        <div class="row f-text-center">
            <p>正跳转至 github 进行授权操作，请稍候……</p>
            <p><a href="{{url}}" class="btn btn-danger">如果没有跳转，请点击这里</a></p>
        </div>
    </div>

    <script>
        window.location.href = '{{url}}';
    </script>
</body>
</html>