<!DOCTYPE html>
<!--
 - 授权跳转
 - @author ydr.me
 - @create 2014-11-22 22:38
 -->
<html>
<head lang="zh-cn">
    {{include ../include/meta.html}}
    {{include ./include/meta.html}}
    <script>
        var locals = {
            github: '{{user.github}}',
            accessToken: '{{user.accessToken}}'
        };
    </script>
</head>
<body ontouchstart="">

<div class="container f-text-center">
    <p><img src="{{user.email|gravatar:200}}" alt="avatar" width="100" height="100"/></p>

    <h1>{{user.nickname}}</h1>

    <p class="s-muted">{{user.hasRegister ? '正在登录……':'确认登录信息。'}}</p>

    {{if !user.hasRegister}}
    <ul>
        <li>邮箱：{{user.email}}</li>
        <li>github：{{user.github}}</li>
    </ul>

    <button class="btn btn-primary" id="btn">确定授权登录</button>
    {{/if}}
</div>

<script src="/static/js/coolie.min.js" data-main="./front/oauth-callback.js"></script>
<script src="/static/js/coolie-config.js"></script>
</body>
</html>