<!DOCTYPE html>
<!--
 - 授权跳转
 - @author ydr.me
 - @create 2014-11-22 22:38
 -->
<html>
<head lang="zh-cn">
    {{include ../include/meta.html}}
    {{include ./include/meta.html}}
</head>
<body ontouchstart="" class="a-slide-down-fixed">
    <div class="m-oauth f-text-center">
        <h1>正跳转至 <i class="i i-github"></i>github 进行授权操作</h1>
        <p class="s-muted" id="m">……</p>
    </div>

    <script>
        var $m = document.getElementById('m');

        window.location.href = '{{=url}}';
        setTimeout(function () {
            $m.innerHTML = '<i class="i i-smile-o"></i><br>稍等片刻，请勿关闭窗口……';
        }, 2000);
        setTimeout(function () {
            $m.innerHTML = '<i class="i i-coffee"></i><br>先喝杯咖啡吧……';
        }, 5000);
        setTimeout(function () {
            $m.innerHTML = '<i class="i i-coffee"></i>&times;2<br>呵呵，再喝杯咖啡吧……';
        }, 10000);
    </script>
</body>
</html>