<!DOCTYPE html>
<!--
 - 授权跳转
 - @author ydr.me
 - @create 2014-11-22 22:38
 -->
<html>
<head lang="zh-cn">
    {{include ../include/meta.html}}
    {{include ./include/meta.html}}
    <script>
        var locals = {
            csrf: '{{$csrf}}',
            github: '{{user.github}}',
            accessToken: '{{user.accessToken}}'
        };
    </script>
</head>
<body ontouchstart="">
<p>头像：{{user.email}}</p>

<P>你好：{{user.nickname}}</P>

<p>{{hasSignUp ? '正在登录……':'确认登录信息。'}}</p>

{{if !hasSignUp}}
<ul>
    <li>邮箱：{{user.email}}</li>
    <li>github：{{user.github}}</li>
</ul>

<button>确定授权登录</button>
{{/if}}
</body>
</html>