<!DOCTYPE html>
<!--
 - 文件描述
 - @author ydr.me
 - @create 2014-12-10 21:39
 -->
<html>
<head lang="zh-cn">
    {{include ../include/meta.html}}
    {{include ./include/meta.html}}
</head>
<body ontouchstart="" class="p-object-weibo">
{{include ../include/front-admin-nav.html}}

<div class="container a-slide-down-fixed">
    <div class="row g-container">
        <!--主-->
        <div class="col-md-9 g-main">
            {{include ./include/post-main-body.html}}
            {{include ./include/post-main-comment.html}}
        </div>
        <!--/主-->
        <!--副-->
        <div class="col-md-3 g-sub">
            {{include ./include/post-sub-author.html}}
            {{include ./include/post-sub-statistics.html}}
        </div>
        <!--/副-->
    </div>
</div>

{{include ./include/footer.html}}
</body>
</html>