/*!
 * function
 * @author ydr.me
 * @create 2014-12-04 17:25
 * @ref netease@1.0.0
 */
.f-clearfix:before,
.row:before,
[class*=avg-]:before,
.f-list-left:before,
.f-list-right:before,
.f-clearfix:after,
.row:after,
[class*=avg-]:after,
.f-list-left:after,
.f-list-right:after {
    display: table;
    content: " ";
}

.f-clearfix:after,
.row:after,
[class*=avg-]:after,
.f-list-left:after,
.f-list-right:after {
    clear: both;
}

.f-ellipsis {
    overflow: hidden;
    word-wrap: normal;
    white-space: nowrap;
    text-overflow: ellipsis;
}

.f-text-left {
    text-align: left;
}

.f-text-center {
    text-align: center;
}

.f-text-right {
    text-align: right;
}

.f-none {
    display: none !important;
}

.f-list-left,
.f-list-right {
    list-style: none;
}

.f-left,
.f-list-left > li {
    float: left !important;
}

.f-right,
.f-list-right > li {
    float: right !important;
}

.f-visible {
    visibility: visible !important;
}

.f-hidden {
    visibility: hidden !important;
}

.f-xlarge {
    font-size: 140%;
}

.f-large {
    font-size: 120%;
}

.f-small {
    font-size: 80%;
}

.f-xsmall {
    font-size: 60%;
}

.f-space {
    display: inline;
    margin: 0 5px;
}

.f-transition {
    -webkit-transition: background .5s;
    -moz-transition: background .5s;
    -ms-transition: background .5s;
    -o-transition: background .5s;
    transition: background .5s;
}

.f-loading {
    background: url(../img/loading.gif) no-repeat 0 4px/16px;
    display: inline-block;
    padding-left: 20px;
    color: #888;
}