html,
body {
  height: 100%;
  overflow: hidden;
}
.g-sidebar {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  width: 120px;
  background: #333;
  overflow: auto;
}
.g-main {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 120px;
  overflow: auto;
}
nav ul {
  list-style: none;
  padding: 0;
  margin: 0;
}
nav a {
  display: block;
  padding: 10px;
  color: #ccc;
}
nav a:hover {
  background: #222;
  color: #fff;
}
nav li.active a {
  background: #222;
  color: #fff;
  font-weight: 900;
  box-shadow: inset 0 2px 7px #101010;
}
.m-main .main-title {
  font-size: 20px;
  font-weight: normal;
  color: #444;
  padding: 20px;
  margin: 0;
}
.m-main .main-body {
  padding: 20px;
}
.m-welcome {
  padding: 20px;
  background: #f8f8f8;
  border-bottom: 1px solid #e6e6e6;
}
.m-me {
  position: relative;
}
.m-me .me-avatar {
  width: 100px;
  height: 100px;
}
.m-me .me-profile {
  padding: 0;
  margin: 0 0 0 110px;
  list-style: none;
}
.m-me .me-profile li {
  border-bottom: 1px solid #e6e6e6;
  padding: 5px 0;
}
.m-me .me-profile li:last-child {
  padding-bottom: 0;
  border-bottom: 0;
}
.m-me .me-get {
  border-top: 1px solid #e6e6e6;
  border-bottom: 1px solid #e6e6e6;
  background-color: #fcfcfc;
  margin: 0 -20px;
  padding: 20px;
  list-style: none;
}
.m-me .me-get li {
  margin-right: 20px;
}
.m-me .me-get strong {
  margin-right: 2px;
}
.m-me .me-edit {
  position: absolute;
  top: 0;
  right: 0;
}
.m-types tr:first-child .types-up {
  display: none;
}
.m-types tr:last-child .types-down {
  display: none;
}
.m-pager {
  margin: 0;
}
.m-pager a {
  display: block;
  color: #888;
  background: #fff;
  padding: 4px 0;
}
.m-pager a:hover {
  color: #333;
  background: #f9f9f9;
}
.m-pager li {
  border: 1px solid #e6e6e6;
}
.m-pager li:last-child {
  border-left: 0;
}
.m-pager li.disabled a,
.m-pager li.disabled a:hover {
  color: #ccc;
  cursor: not-allowed;
  background: transparent;
  pointer-events: none;
}
.m-form {
  padding: 0;
  margin: 0;
}
.m-form > li {
  padding: 0;
  margin-bottom: 20px;
}
