html,
body {
  height: 100%;
  overflow: hidden;
}
.g-sidebar {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  width: 200px;
  background: #333;
  overflow: auto;
}
.g-main {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 200px;
  overflow: auto;
}
nav ul {
  list-style: none;
  padding: 0;
  margin: 0;
}
nav a {
  display: block;
  padding: 10px;
  color: #ccc;
}
nav a:hover,
nav a.active {
  background: #222;
  color: #fff;
}
.m-main .main-title {
  font-size: 20px;
  font-weight: normal;
  color: #444;
  padding: 20px;
  margin: 0;
}
.m-main .main-body {
  padding: 20px;
}
.m-welcome {
  padding: 20px;
  background: #f8f8f8;
  border-bottom: 1px solid #e6e6e6;
}
.m-me {
  position: relative;
}
.m-me .me-avatar {
  width: 100px;
  height: 100px;
}
.m-me .me-profile {
  padding: 0;
  margin: 0 0 0 110px;
  list-style: none;
}
.m-me .me-profile li {
  border-bottom: 1px solid #e6e6e6;
  padding: 5px 0;
}
.m-me .me-profile li:last-child {
  padding-bottom: 0;
  border-bottom: 0;
}
.m-me .me-get {
  border-top: 1px solid #e6e6e6;
  border-bottom: 1px solid #e6e6e6;
  background-color: #fcfcfc;
  margin: 0 -20px;
  padding: 20px;
  list-style: none;
}
.m-me .me-get li {
  margin-right: 20px;
}
.m-me .me-get strong {
  margin-right: 2px;
}
.m-me .me-edit {
  position: absolute;
  top: 0;
  right: 0;
}
