/*!
 * 前端
 * @author ydr.me
 * @create 2014-12-04 20:52
 */
body {
  background: #f5f5f5;
  padding-top: 120px;
}
@media (max-width: 767px) {
  body {
    padding-top: 0;
  }
}
.container-fluid {
  max-width: 1280px;
}
/*nav*/
nav {
  width: 100%;
  position: fixed;
  z-index: 9;
  top: 0;
  background: rgba(0, 162, 202, 0.9);
  height: 51px;
  line-height: 50px;
  border-bottom: 1px solid #008eb1;
}
@media (max-width: 767px) {
  nav {
    position: relative;
    margin-bottom: 2rem;
    background: #00a2ca;
  }
}
nav .nav-bg {
  display: none;
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 8;
}
nav .nav-toggle {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  width: 70px;
  font-size: 30px;
  color: #FFF;
  text-align: center;
}
nav .nav-logo {
  width: 120px;
  margin: 0;
  padding: 0;
  text-align: center;
  line-height: 1;
}
@media (max-width: 767px) {
  nav .nav-logo {
    text-align: left;
  }
}
@media (max-width: 767px) {
  nav .nav-left {
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    width: 30%;
    z-index: 9;
    background: #00a2ca;
    min-width: 140px;
    -webkit-transform: translateX(-100%);
    transform: translateX(-100%);
    opacity: 0;
  }
  nav .nav-left li {
    float: none !important;
    display: block;
    border-bottom: 1px dotted #68C1E8;
  }
  nav .nav-left li:first-child {
    border-top: 1px dotted #68C1E8;
  }
}
nav.unfolded .nav-bg {
  display: block;
}
nav.unfolded .nav-left {
  -webkit-transform: translateX(0);
  transform: translateX(0);
  opacity: 1;
}
nav .nav-right li {
  margin-right: 10px;
}
nav .nav-right li:last-child {
  margin-right: 0;
}
nav .nav-group {
  position: absolute;
  width: 70px;
  height: 50px;
  right: 0;
  top: 0;
}
nav .nav-drop {
  position: relative;
  display: block;
  text-align: center;
  background: #00a2ca;
  z-index: 4;
}
nav .nav-drop img {
  width: 30px;
}
.nav-downlist {
  position: absolute;
  width: 140px;
  background: #008eb1;
  z-index: 3;
  list-style: none;
  padding: 0;
  border: 1px solid #008eb1;
  border-top: 0;
  top: 31px;
  right: 0;
  -webkit-transform: translateY(-100%);
  transform: translateY(-100%);
  opacity: 0;
}
.nav-downlist li {
  margin: 0;
  padding: 0;
}
.nav-downlist a {
  display: block;
  color: #fff;
  padding: 10px 16px;
}
.active .nav-drop {
  background: #008eb1;
}
.active .nav-downlist {
  opacity: 1;
  -webkit-transform: translateY(0);
  transform: translateY(0);
}
/*m-nav*/
.m-nav {
  list-style: none;
  padding: 0;
  margin: 0;
}
.m-nav > li {
  position: relative;
}
.m-nav a {
  display: block;
  color: #fff;
  padding: 0 20px;
}
.m-nav a:hover {
  background: #009ec5;
}
.m-nav .active a {
  background: #009ec5;
}
.m-nav .label {
  position: relative;
  font-size: 100%;
  padding: 0 10px;
  line-height: 30px;
  margin-top: 5px;
  font-weight: normal;
}
.m-nav .label .badge {
  position: absolute;
  top: -10px;
  left: -10px;
  border-radius: 100%;
  padding: 5px 8px;
}
.g-container {
  background-color: #fff;
}
@media (max-width: 991px) {
  .g-container .g-sub {
    border-left: 0;
    margin-left: 0;
  }
}
.g-container .g-main,
.g-container .g-sub {
  padding-left: 0;
  padding-right: 0;
}
.g-container .col-md-12.g-main {
  border-right: 0;
}
.g-container .g-main {
  border-right: 1px solid #e6e6e6;
}
.g-container .g-main:only-child {
  border-right: 0;
}
.g-container .g-sub {
  border-left: 1px solid #e6e6e6;
  margin-left: -1px;
}
@media (max-width: 991px) {
  .g-container .g-sub {
    border-left: 0;
    margin-left: 0;
  }
}
.m-home li {
  line-height: 30px;
  border-top: 1px solid #eee;
}
.m-home li:nth-child(1),
.m-home li:nth-child(2) {
  border-top: 0;
}
.m-home li:nth-child(2n+1) {
  border-right: 1px solid #eee;
}
.m-home a {
  position: relative;
  display: block;
  padding: 20px 0;
  color: #666;
}
.m-home a:hover {
  background: #F9F9F9;
}
.m-home .home-icon {
  font-size: 80px;
  color: #ececec;
}
.m-home .home-name {
  font-size: 30px;
  line-height: 60px;
}
.m-home .home-desc {
  font-size: 14px;
}
.m-oauth {
  max-width: 500px;
  margin: 10rem auto;
  background: #fff;
  padding: 50px 30px;
  border: 1px solid #EFEFEF;
  border-radius: 6px;
}
.m-oauth-callback {
  margin: 1rem auto;
}
.m-oauth .oauth-info {
  list-style: none;
}
.m-oauth .oauth-info li {
  position: relative;
  padding-left: 80px;
  line-height: 2;
}
.m-oauth .oauth-info strong {
  position: absolute;
  width: 70px;
  left: 0;
  text-align: right;
}
@media (max-width: 767px) {
  .m-oauth {
    max-width: none;
    margin: 20px;
  }
}
.m-card .card-title,
.m-card .card-tab {
  position: relative;
  border-bottom: 2px solid #e6e6e6;
  margin: 0;
  font-weight: normal;
}
.m-card .card-title {
  padding: 20px;
  font-size: 20px;
}
.m-card .card-has-accepted,
.m-card .card-un-accepted {
  display: none;
}
.m-card .card-title.has-accepted {
  background: #E4F4DE;
  border-color: #C3E0B7;
}
.m-card .card-title.has-accepted .card-has-accepted {
  display: inline-block;
}
.m-card .card-title.un-accepted {
  background: #FDE2E2;
  border-color: #E7B7B7;
}
.m-card .card-title.un-accepted .card-un-accepted {
  display: inline-block;
}
.m-card .card-subtitle {
  display: inline;
  font-size: 40%;
  margin-left: 10px;
  line-height: 1;
}
.m-card .card-endtitle {
  position: absolute;
  right: 10px;
  bottom: 10px;
}
.m-card .card-tab {
  height: 72px;
  line-height: 70px;
}
.m-card .card-tab li {
  position: relative;
}
.m-card .card-tab li::after {
  content: ' ';
  position: absolute;
  right: 0;
  bottom: -2px;
  left: 0;
  height: 2px;
  background: rgba(0, 0, 0, 0);
}
.m-card .card-tab a {
  display: block;
  color: #aaa;
}
.m-card .card-tab a:hover {
  color: #666;
}
.m-card .card-tab .active::after {
  background: #00a2ca;
}
.m-card .card-tab .active a {
  color: #00a2ca;
}
.m-card .card-body {
  padding: 20px;
}
@media (max-width: 767px) {
  .m-card .card-body {
    padding: 10px;
  }
}
.m-card .card-footer {
  border-top: 1px solid #e6e6e6;
  margin-top: 30px;
  padding: 30px 20px;
}
.m-choose {
  padding: 20px;
  margin: -20px -20px 20px;
  list-style: none;
  background: #F8FDFF;
  line-height: 26px;
}
@media (max-width: 767px) {
  .m-choose {
    margin-left: -10px;
    margin-right: -10px;
  }
}
.m-choose .choose-type {
  margin-right: 10px;
}
.m-choose li {
  margin-bottom: 10px;
}
.m-choose li > * {
  float: left;
}
.m-choose li > a {
  padding: 0 10px;
}
.m-choose li > a.active {
  background: #0e90d2;
  color: #fff;
}
.m-choose li > a:last-child {
  margin-right: 0;
}
.m-summarylist {
  list-style: none;
  padding: 0;
  margin: 0;
}
.m-summarylist ul,
.m-summarylist li {
  padding: 0;
  margin: 0;
  list-style: none;
}
.m-summarylist .summarylist-item {
  border-bottom: 1px solid #f0f0f0;
  padding-bottom: 20px;
  margin-bottom: 20px;
}
.m-summarylist .summarylist-item:last-child {
  border-bottom: 0;
  padding-bottom: 0;
  margin-bottom: 0;
}
.m-summarylist .summarylist-body {
  margin-left: 60px;
  overflow: hidden;
}
.m-summarylist .summarylist-name {
  padding: 0;
  font-size: 18px;
  margin: 0 0 10px;
  font-weight: normal;
}
@media (max-width: 767px) {
  .m-summarylist .summarylist-name {
    font-size: 16px;
  }
}
.m-summarylist .summarylist-meta {
  height: 20px;
  line-height: 20px;
}
.m-summarylist .summarylist-contributors {
  margin: 0;
  padding: 0;
}
.m-summarylist .summarylist-contributors > li {
  margin-left: 5px;
}
.m-summarylist .summarylist-contributors a {
  opacity: .7;
}
.m-summarylist .summarylist-contributors a:hover {
  opacity: 1;
}
.m-simplelist {
  padding: 0;
  margin: 0;
  list-style: none;
}
.m-simplelist > li {
  margin-bottom: 10px;
  padding-bottom: 10px;
  border-bottom: 1px solid #f0f0f0;
  font-size: 14px;
}
.m-simplelist > li:last-child {
  margin-bottom: 0;
  padding-bottom: 0;
  border-bottom: 0;
}
.m-postmain {
  position: relative;
}
.m-postmain .postmain-meta {
  list-style: none;
  padding: 0;
  margin: 30px 0 0;
}
.m-postmain .postmain-meta li {
  line-height: 2;
}
.m-postmain .postmain-content p {
  white-space: pre-wrap;
}
.m-usercard .usercard-main {
  margin-bottom: 20px;
}
.m-usercard .usercard-avatar {
  width: 100px;
  height: 100px;
}
.m-usercard .usercard-body {
  margin-left: 110px;
}
.m-usercard .usercard-bio {
  margin-bottom: 20px;
}
.m-usercard .usercard-statistics {
  background-color: #fcfcfc;
  border-top: 1px solid #ddd;
  box-shadow: 0 2px 2px #f0f0f0 inset;
  margin: 0 -20px -20px -20px;
  padding: 20px 0;
}
@media (max-width: 767px) {
  .m-usercard .usercard-statistics {
    margin: 0 -10px -10px -10px;
  }
}
.m-usercard .usercard-statistics ul {
  margin: 0 0 10px;
}
.m-usercard .usercard-statistics li {
  margin-right: 20px;
}
.m-history li {
  position: relative;
}
.m-history .history-time {
  position: absolute;
  top: 0;
  right: 0;
}
.m-404,
.m-500 {
  margin-top: 200px;
}
footer {
  margin-top: 100px;
}
