<footer class="s-muted f-small">
    <div class="container">
        <hr/>

        <div class="row">
            <div class="col-sm-8">
                <h3>关于前端开发者社区</h3>

                <p>前端开发者社区是国内唯一一个专门为前端开发者服务的智慧社区。</p>
            </div>
            <dl class="col-sm-4">
                <dt>作者：</dt>
                <dd><a href="/developer/cloudcome/"><i class="i i-github"></i>@cloudcome</a></dd>
            </dl>
        </div>

        <hr/>

        <div class="row">
            <div class="col-xs-12 f-text-center">
                <p>
                    <a href="https://github.com/cloudcome/nodejs-community"><i class="i i-github"></i>本站源码</a>
                    <a href="/help/bug.html"><i class="i i-bug"></i>BUG反馈</a>
                    &copy;2014
                    MIT
                </p>
            </div>
        </div>
    </div>
</footer>
