<footer class="s-muted f-small">
    <div class="container">
        <hr/>

        <div class="row">
            <div class="col-sm-8">
                <h3>关于{{$setting.website.title}}</h3>

                <p>{{$setting.website.description}}</p>
            </div>
            <dl class="col-sm-4">
                <dt>founder：</dt>
                <dd><a href="/developer/cloudcome/"><i class="i i-github"></i>@cloudcome</a></dd>
            </dl>
        </div>

        <hr/>

        <div class="row">
            <div class="col-xs-12 f-text-center">
                <p>
                    <a href="https://github.com/cloudcome/nodejs-community"><i class="i i-github"></i>本站源码</a>
                    <a href="/help/bug-feedback.html"><i class="i i-bug"></i>BUG反馈</a>
                    &copy;2014
                    MIT
                </p>
            </div>
        </div>
    </div>
</footer>
