<footer class="s-light f-xsmall f-text-center">
    <h3>{{$setting.website.title}}</h3>

    <p>{{$setting.website.description}}</p>
    <p>
        <a href="https://github.com/cloudcome/nodejs-community"><i class="i i-github"></i>nodejs-community v{{$configs.package.version}}</a>
        <a href="/help/bug-feedback.html"><i class="i i-bug"></i>BUG 反馈</a>
        &copy;2014 FrontEndDev.org
        MIT
    </p>
    <p>
        <i class="i i-cloud"></i>
        {{(Date.now() - $system.startTime)|humanize}}
        {{$system.hash}}
    </p>
</footer>

<div class="f-none">
    {{=$setting.website.statistics}}
</div>