<!--智问-->
<div class="m-card">
    <h2 class="card-title">
        <i class="i i-question-circle"></i>帮助
        <small class="card-subtitle s-muted">——智慧提问，智慧回答。</small>
        <div class="card-endtitle">
            <a class="btn btn-success btn-sm" href="/user/object/new?type=help"><i class="i i-plus"></i>提问</a>
            <span class="s-light f-small"><i class="i i-file-o"></i>{{count}}</span>
        </div>
    </h2>

    <div class="card-body">
        <div class="m-scopes">
            <div class="scopes-title s-muted"><i class="i i-folder"></i>category</div>
            <ul class="scopes-list f-list-left">
                {{list categories as index,category}}
                <li><a href="/help/in/{{category.uri}}/" class="label label-default">{{category.name}}</a>
                </li>
                {{/list}}
            </ul>
        </div>

        <!--列表-->
        <ul class="m-summarylist">
            {{list objects as object}}
            <li class="summarylist-item f-clearfix">
                <div class="summarylist-avatar f-left">
                    <a href="#"><img src="/static/img/avatar.png" alt="avatar" width="50" height="50"/></a>
                </div>
                <div class="summarylist-body">
                    <h2 class="summarylist-name f-ellipsis"><a
                            href="/help/abc.def-title_hehe.html">{{object.title}}</a></h2>

                    <div class="summarylist-meta s-light f-small row">
                        <div class="col-sm-8">
                            <ul class="avg-xs-4">
                                <li><i class="i i-user"></i><a href="#">cloudcome</a></li>
                                <li><i class="i i-eye"></i>{{object.viewCount}}</li>
                                <li><i class="i i-comments"></i>{{object.commentCount}}</li>
                                <li><i class="i i-star"></i>{{object.favoriteCount}}</li>
                            </ul>
                        </div>
                        <div class="col-sm-4">
                            <ul class="summarylist-contributors f-list-right">
                                {{list object.contributors as contributor}}
                                <li>
                                    <a href="/engineer/{{contributor.githubLogin}}/">
                                        <img src="{{contributor.email|gravatar:40}}" width="20" height="20" alt="avatar"/>
                                    </a>
                                </li>
                                {{/list}}
                            </ul>
                        </div>
                    </div>
                </div>
            </li>
            {{/list}}
        </ul>
        <!--/列表-->

        <!--分页器-->
        <ul class="m-pager avg-xs-2 f-text-center">
            <li class="pager-prev disabled"><a href="#"><i class="i i-angle-double-left"></i>上一页</a></li>
            <li class="pager-next"><a href="#">下一页<i class="i i-angle-double-right"></i></a></li>
        </ul>
        <!--/分页器-->
    </div>
</div>
<!--/智问-->