<nav role="navigation" class="f-transition" id="nav">
    <div class="nav-bg j-flag"></div>
    <div class="container f-clearfix">
        <h1 class="f-left nav-logo j-flag"><img src="/static/img/logo.png" alt="logo" width="40" height="40"/></h1>
        <ul class="f-left nav-left m-nav j-flag">
            <li class="nav-item-home"><a href="/"><i class="i i-home"></i>社区首页</a></li>
            <li class="nav-item-opinion"><a href="/opinion/"><i class="i i-gavel"></i>观点</a></li>
            <li class="nav-item-question"><a href="/question/"><i class="i i-cube"></i>问答</a></li>
            <li class="nav-item-link"><a href="/link/"><i class="i i-link"></i>链接</a></li>
            <!--<li><a href="/weibo/"><i class="i i-twitter"></i>微博</a></li>-->
            <li class="nav-item-help"><a href="/help/"><i class="i i-question-circle"></i>帮助</a></li>
            <!--<li><a href="/rank/"><i class="i i-signal"></i>排行</a></li>-->
        </ul>
        <ul class="f-right nav-right m-nav">
            {{if $developer.id}}
            <li><a href="/admin/" class="label label-success"><i class="i i-user"></i>进入</a></li>
            {{else}}
            <li><a href="/admin/" class="label label-danger j-login"><i class="i i-user"></i>加入</a></li>
            {{/if}}
        </ul>
    </div>
</nav>