@charset "utf-8";
.alien-ui-response {

}

.alien-ui-response-respond {
    margin: -20px -20px 20px;
    background: #F9F9F9;
    padding: 20px;
    border-bottom: 1px solid #eee;
}

.alien-ui-response-respond .alien-ui-response-respond-body {
    margin-left: 60px;
    overflow: hidden;
}

.alien-ui-response-respond .alien-ui-response-respond-input {
    height: 50px;
}

.alien-ui-response-respond .alien-ui-response-respond-action {
    margin-top: 15px;
}

.alien-ui-response-respond .btn{
    display: none;
}

.alien-ui-response-iscomment .alien-ui-response-respond-comment{
    display: inline-block;
}

.alien-ui-response-isreply .alien-ui-response-respond-reply,
.alien-ui-response-isreply .alien-ui-response-respond-cancel{
    display: inline-block;
}

.alien-ui-response-list {
    list-style: none;
    padding: 0;
}

.alien-ui-response-list .alien-ui-response-list-item {
    border-bottom: 1px solid #f0f0f0;
    padding-bottom: 20px;
    margin-bottom: 20px;
}

.alien-ui-response-list .alien-ui-response-list-item:last-child {
    border-bottom: 0;
    padding-bottom: 0;
    margin-bottom: 0;
}

.alien-ui-response-list .alien-ui-response-list-body {
    margin-left: 60px;
    overflow: hidden;
}

.alien-ui-response-list .alien-ui-response-list-meta {
    padding: 0;
    margin: 0;
}

.alien-ui-response-list .alien-ui-response-list-meta li {
    margin-right: 10px;
}

.alien-ui-response-list .alien-ui-response-list-action {
    margin-top: 20px;
}

.alien-ui-response-list .alien-ui-response-list-number {
    margin-left: 10px;
    font-weight: 900;
}

.alien-ui-response-list .alien-ui-response-list-children {
    position: relative;
    margin: 20px 60px;
    padding: 20px;
    border-radius: 4px;
    border: 1px solid #F0F0F0;
}

.alien-ui-response-list .alien-ui-response-list-children .alien-ui-response-list-body {
    margin-left: 40px;
    font-size: 14px;
}

.alien-ui-response-list .alien-ui-response-list-children .alien-ui-response-list-body .i {
    margin: 0 2px;
    min-width: 10px;
}

.alien-ui-response-list .alien-ui-response-list-children .alien-ui-response-respond {
    margin: 20px -20px -20px;
    border-bottom: 0;
    border-top: 1px solid #eee;
    border-radius: 0 0 4px 4px;
}

.alien-ui-response-list .alien-ui-response-list-children::before,
.alien-ui-response-list .alien-ui-response-list-children::after {
    content: ' ';
    position: absolute;
    border: 10px solid transparent;
    left: 20px;
}

.alien-ui-response-list .alien-ui-response-list-children::before {
    border-bottom-color: #ddd;
    top: -20px;
}

.alien-ui-response-list .alien-ui-response-list-children::after {
    border-bottom-color: #fff;
    top: -19px;
}