@charset "utf-8";
/*!
 * 文件描述
 * @author ydr.me
 * @create 2014-12-26 14:04
 */

.m-respond {
    margin: -20px -20px 20px;
    background: #F9F9F9;
    padding: 20px;
    border-bottom: 1px solid #eee;
}
.m-respond .respond-body {
    margin-left: 60px;
    overflow: hidden;
}
.m-respond .respond-input {
    height: 50px;
}
.m-respond .respond-action {
    margin-top: 15px;
}
.m-listcomments {
    list-style: none;
    padding: 0;
}
.m-listcomments .listcomments-item {
    border-bottom: 1px solid #f0f0f0;
    padding-bottom: 20px;
    margin-bottom: 20px;
}
.m-listcomments .listcomments-item:last-child {
    border-bottom: 0;
    padding-bottom: 0;
    margin-bottom: 0;
}
.m-listcomments .listcomments-body {
    margin-left: 60px;
    overflow: hidden;
}
.m-listcomments .listcomments-meta {
    padding: 0;
    margin: 0;
}
.m-listcomments .listcomments-meta li {
    margin-right: 10px;
}
.m-listcomments .listcomments-action {
    margin-top: 20px;
}
.m-listcomments .listcomments-number {
    margin-left: 10px;
    font-weight: 900;
}
.m-listcomments .listcomments-children {
    position: relative;
    margin: 20px 60px;
    padding: 20px;
    border-radius: 4px;
    border: 1px solid #F0F0F0;
}
.m-listcomments .listcomments-children .listcomments-body {
    margin-left: 40px;
    font-size: 14px;
}
.m-listcomments .listcomments-children .listcomments-body .i {
    margin: 0 2px;
    min-width: 10px;
}
.m-listcomments .listcomments-children .m-respond {
    margin: 20px -20px -20px;
    border-bottom: 0;
    border-top: 1px solid #eee;
    border-radius: 0 0 4px 4px;
}
.m-listcomments .listcomments-children::before,
.m-listcomments .listcomments-children::after {
    content: ' ';
    position: absolute;
    border: 10px solid transparent;
    left: 20px;
}
.m-listcomments .listcomments-children::before {
    border-bottom-color: #ddd;
    top: -20px;
}
.m-listcomments .listcomments-children::after {
    border-bottom-color: #fff;
    top: -19px;
}