body {
  background: #f5f5f5;
  margin-top: 80px; }

code {
  background: #EEE;
  margin: 0 2px;
  padding: 2px 4px;
  border-radius: 3px;
  color: #B63125; }

.g-container {
  background-color: #fff; }
  @media (max-width: 991px) {
    .g-container .g-sub {
      border-left: 0;
      margin-left: 0; } }
  .g-container .g-main, .g-container .g-sub {
    padding-left: 0;
    padding-right: 0; }
  .g-container .col-md-12.g-main {
    border-right: 0; }
  .g-container .g-main {
    border-right: 1px solid #e6e6e6; }
    .g-container .g-main:only-child {
      border-right: 0; }
  .g-container .g-sub {
    border-left: 1px solid #e6e6e6;
    margin-left: -1px; }
    @media (max-width: 991px) {
      .g-container .g-sub {
        border-left: 0;
        margin-left: 0; } }
