$primary-bg-color: #00A2CA;
$primary-fg-color: lighten($primary-bg-color, 90%);
$border-color: #e6e6e6;


// grid
body {
  background: #f5f5f5;
}

.g-body{
  margin-top: 50px;
}


//g-container
.g-container {
  background-color: #fff;

  @media (max-width: 991px) {

    .g-sub {
      border-left: 0;
      margin-left: 0;
    }
  }

  .g-main,
  .g-sub {
    padding-left: 0;
    padding-right: 0;
  }

  .col-md-12.g-main {
    border-right: 0;
  }

  .g-main {
    border-right: 1px solid $border-color;

    &:only-child {
      border-right: 0;
    }
  }

  .g-sub {
    border-left: 1px solid $border-color;
    margin-left: -1px;

    @media (max-width: 991px) {
      border-left: 0;
      margin-left: 0;
    }
  }
}
