body {
  background: #f5f5f5; }

.g-body {
  margin-top: 50px; }

.g-container {
  background-color: #fff; }
  @media (max-width: 991px) {
    .g-container .g-sub {
      border-left: 0;
      margin-left: 0; } }
  .g-container .g-main, .g-container .g-sub {
    padding-left: 0;
    padding-right: 0; }
  .g-container .col-md-12.g-main {
    border-right: 0; }
  .g-container .g-main {
    border-right: 1px solid #e6e6e6; }
    .g-container .g-main:only-child {
      border-right: 0; }
  .g-container .g-sub {
    border-left: 1px solid #e6e6e6;
    margin-left: -1px; }
    @media (max-width: 991px) {
      .g-container .g-sub {
        border-left: 0;
        margin-left: 0; } }
