.m-oauth {
  max-width: 500px;
  margin: 10rem auto;
  background: #fff;
  padding: 50px 30px;
  border: 1px solid #EFEFEF;
  border-radius: 6px; }
  .m-oauth-callback {
    margin: 1rem auto; }
  .m-oauth .oauth-info {
    list-style: none; }
    .m-oauth .oauth-info li {
      position: relative;
      padding-left: 80px;
      line-height: 2; }
    .m-oauth .oauth-info strong {
      position: absolute;
      width: 70px;
      left: 0;
      text-align: right; }

@media (max-width: 767px) {
  .m-oauth {
    max-width: none;
    margin: 20px; } }
