// module
$primary-bg-color: #00A2CA;
$primary-fg-color: lighten($primary-bg-color, 90%);
$border-color: #e6e6e6;



.m-oauth {
  max-width: 500px;
  margin: 10rem auto;
  background: #fff;
  padding: 50px 30px;
  border: 1px solid #EFEFEF;
  border-radius: 6px;

  &-callback {
    margin: 1rem auto;
  }

  .oauth-info {
    list-style: none;

    li {
      position: relative;
      padding-left: 80px;
      line-height: 2;
    }

    strong {
      position: absolute;
      width: 70px;
      left: 0;
      text-align: right;
    }
  }
}

@media (max-width: 767px) {
  .m-oauth {
    max-width: none;
    margin: 20px;
  }
}







.m-404,
.m-500 {
  margin-top: 200px;

  h1{
    font-size: 100px;
  }
}





.m-labes{
  li{
    background: #EEE;
    padding: 4px 10px;
    margin-right: 10px;
  }
}


