.m-home li {
  line-height: 30px;
  border-top: 1px solid #e6e6e6;
}
.m-home li:nth-child(1) {
  border-top: 0;
}
@media (min-width: 767px) {
  .m-home li:nth-child(2) {
    border-top: 0;
  }
  .m-home li:nth-child(2n+1) {
    border-right: 1px solid #eee;
  }
}
.m-home a {
  position: relative;
  display: block;
  padding: 20px;
  color: #666;
}
.m-home a:hover {
  background: #F9F9F9;
}
.m-home .home-icon {
  font-size: 80px;
  color: #ececec;
}
.m-home .home-name {
  font-size: 30px;
  line-height: 60px;
}
.m-home .home-desc {
  font-size: 14px;
}
.m-oauth {
  max-width: 500px;
  margin: 10rem auto;
  background: #fff;
  padding: 50px 30px;
  border: 1px solid #EFEFEF;
  border-radius: 6px;
}
.m-oauth-callback {
  margin: 1rem auto;
}
.m-oauth .oauth-info {
  list-style: none;
}
.m-oauth .oauth-info li {
  position: relative;
  padding-left: 80px;
  line-height: 2;
}
.m-oauth .oauth-info strong {
  position: absolute;
  width: 70px;
  left: 0;
  text-align: right;
}
@media (max-width: 767px) {
  .m-oauth {
    max-width: none;
    margin: 20px;
  }
}
.m-card .card-title,
.m-card .card-tab {
  position: relative;
  border-bottom: 2px solid #e6e6e6;
  margin: 0;
  font-weight: normal;
}
.m-card .card-title {
  padding: 20px;
  font-size: 20px;
}
.m-card .card-has-accepted,
.m-card .card-un-accepted {
  display: none;
}
.m-card .card-title.has-accepted {
  background: #E4F4DE;
  border-color: #C3E0B7;
}
.m-card .card-title.has-accepted .card-has-accepted {
  display: inline-block;
}
.m-card .card-title.un-accepted {
  background: #FDE2E2;
  border-color: #E7B7B7;
}
.m-card .card-title.un-accepted .card-un-accepted {
  display: inline-block;
}
.m-card .card-subtitle {
  display: inline;
  font-size: 40%;
  margin-left: 10px;
  line-height: 1;
}
.m-card .card-endtitle {
  position: absolute;
  right: 10px;
  bottom: 10px;
}
.m-card .card-tab {
  height: 72px;
  line-height: 70px;
}
.m-card .card-tab li {
  position: relative;
}
.m-card .card-tab li::after {
  content: ' ';
  position: absolute;
  right: 0;
  bottom: -2px;
  left: 0;
  height: 2px;
  background: rgba(0, 0, 0, 0);
}
.m-card .card-tab a {
  display: block;
  color: #aaa;
}
.m-card .card-tab a:hover {
  color: #666;
}
.m-card .card-tab .active::after {
  background: #00a2ca;
}
.m-card .card-tab .active a {
  color: #00a2ca;
}
.m-card .card-body {
  padding: 20px;
}
.m-card .card-footer {
  border-top: 1px solid #e6e6e6;
  margin-top: 30px;
  padding: 30px 20px;
}
.m-choose {
  padding: 20px;
  margin: -20px -20px 20px;
  list-style: none;
  background: #F8FDFF;
  line-height: 26px;
}
.m-choose .choose-type {
  margin-right: 10px;
}
.m-choose li {
  margin-bottom: 10px;
}
.m-choose li > * {
  float: left;
}
.m-choose li > a {
  padding: 0 10px;
}
.m-choose li > a.active {
  background: #0e90d2;
  color: #fff;
}
.m-choose li > a:last-child {
  margin-right: 0;
}
.m-summarylist {
  list-style: none;
  padding: 0;
  margin: 0;
}
.m-summarylist ul,
.m-summarylist li {
  padding: 0;
  margin: 0;
  list-style: none;
}
.m-summarylist .summarylist-item {
  border-bottom: 1px solid #f0f0f0;
  padding-bottom: 20px;
  margin-bottom: 20px;
}
.m-summarylist .summarylist-item:last-child {
  border-bottom: 0;
  padding-bottom: 0;
  margin-bottom: 0;
}
.m-summarylist .summarylist-body {
  margin-left: 60px;
  overflow: hidden;
}
.m-summarylist .summarylist-name {
  padding: 0;
  font-size: 18px;
  margin: 0 0 10px;
  font-weight: normal;
}
@media (max-width: 767px) {
  .m-summarylist .summarylist-name {
    font-size: 16px;
  }
}
.m-summarylist .summarylist-meta {
  line-height: 20px;
}
.m-summarylist .summarylist-contributors {
  margin: 0;
  padding: 0;
}
.m-summarylist .summarylist-contributors > li {
  margin-left: 5px;
}
.m-summarylist .summarylist-contributors a {
  opacity: .7;
}
.m-summarylist .summarylist-contributors a:hover {
  opacity: 1;
}
.m-simplelist {
  padding: 0;
  margin: 0;
  list-style: none;
}
.m-simplelist > li {
  margin-bottom: 10px;
  padding-bottom: 10px;
  border-bottom: 1px solid #f0f0f0;
  font-size: 14px;
}
.m-simplelist > li:last-child {
  margin-bottom: 0;
  padding-bottom: 0;
  border-bottom: 0;
}
.toc {
  display: inline-block;
  min-width: 200px;
  border: 1px solid #CCC;
  padding: 20px;
}
.m-postmain {
  position: relative;
}
.m-postmain .postmain-meta {
  list-style: none;
  padding: 0;
  margin: 30px 0 0;
}
.m-postmain .postmain-meta li {
  line-height: 2;
}
.m-postmain .postmain-content p {
  white-space: pre-wrap;
}
.m-postmain .postmain-content img {
  max-width: 50%;
  cursor: -webkit-zoom-in;
  cursor: -moz-zoom-in;
  cursor: zoom-in;
}
.m-postmain .postmain-content p > img:only-child {
  display: block;
  margin: 0 auto;
}
.m-usercard .usercard-main {
  margin-bottom: 20px;
}
.m-usercard .usercard-avatar {
  width: 100px;
  height: 100px;
}
.m-usercard .usercard-body {
  margin-left: 110px;
}
.m-usercard .usercard-bio {
  margin-bottom: 20px;
}
.m-usercard .usercard-statistics {
  background-color: #fcfcfc;
  border-top: 1px solid #ddd;
  box-shadow: 0 2px 2px #f0f0f0 inset;
  margin: 0 -20px -20px -20px;
  padding: 20px 0;
}
.m-usercard .usercard-statistics ul {
  margin: 0 0 10px;
}
.m-usercard .usercard-statistics li {
  margin-right: 20px;
}
.m-history li {
  position: relative;
}
.m-history .history-time {
  position: absolute;
  top: 0;
  right: 0;
}
.m-404,
.m-500 {
  margin-top: 200px;
}
.m-me {
  position: relative;
}
.m-me .me-avatar {
  width: 100px;
  height: 100px;
}
.m-me .me-avatar-abs {
  position: absolute;
  top: 0;
  right: 0;
}
.m-me .me-profile {
  padding: 0;
  margin: 0 0 0 110px;
  list-style: none;
}
.m-me .me-profile li {
  border-bottom: 1px solid #e6e6e6;
  padding: 5px 0;
}
.m-me .me-profile li:last-child {
  padding-bottom: 0;
  border-bottom: 0;
}
.m-me .me-get {
  border-top: 1px solid #e6e6e6;
  border-bottom: 1px solid #e6e6e6;
  background-color: #fcfcfc;
  margin: 0 -20px;
  padding: 20px;
  list-style: none;
}
.m-me .me-get li {
  margin-right: 20px;
}
.m-me .me-get strong {
  margin-right: 2px;
}
.m-me .me-edit {
  position: absolute;
  top: 0;
  right: 0;
}
.m-form {
  padding: 0;
  margin: 0;
  list-style: none;
}
.m-form > li {
  position: relative;
  padding: 0 0 0 140px;
  margin-bottom: 20px;
  min-height: 36px;
}
.m-form > li.form-striped {
  margin-bottom: 0;
}
.m-form > li.form-desc {
  padding: 0;
  margin-top: 0;
  margin-bottom: 20px;
}
.m-form .form-key {
  position: absolute;
  width: 140px;
  left: 0;
  top: 0;
  text-align: right;
  font-weight: 900;
  color: #555;
  line-height: 36px;
  padding: 0;
  margin: 0;
}
.m-form .form-required {
  color: #ff0025;
  margin-left: 5px;
}
.m-form .form-val {
  padding: 0;
  margin: 0 0 0 20px;
}
.m-form .form-action {
  padding: 20px;
  margin-left: -100px;
  margin-top: 40px;
  border-top: 1px solid #ECECEC;
}
.m-form .form-opt {
  display: block;
  margin: 0;
  padding: 5px 0;
}
.m-form .form-desc {
  padding: 0;
  margin: 10px 0 0;
  color: #888;
  font-size: 14px;
  line-height: 20px;
}
.m-form .form-desc code,
.m-form .form-desc strong,
.m-form .form-desc a {
  margin: 0 5px;
}
.m-form-vertical > li {
  padding: 0;
}
.m-form-vertical .form-key,
.m-form-vertical .form-val {
  position: relative;
  display: block;
  width: 100%;
  margin: 0;
  text-align: left;
}
.m-form-vertical .form-action {
  margin-left: 0;
}
.m-ptitle {
  text-align: center;
  margin-bottom: 2em;
}
.m-ptitle .ptitle-cover {
  width: 104px;
  height: 104px;
  border-radius: 100%;
  border: 4px solid #FFF;
  box-shadow: 0 0 15px #C3C2C2;
}
.m-ptitle .ptitle-name {
  margin: 1em 0;
  padding: 0;
}
.m-ptitle .ptitle-name span {
  display: inline-block;
  font-weight: normal;
  padding: 3px 12px;
  line-height: 1.5em;
  border: 1px solid #CFCFCF;
  border-radius: 6px;
}
.m-ptitle .ptitle-intro {
  margin-bottom: .3em;
}
