@charset "UTF-8";
.post {
  position: relative; }
  .post-content a {
    border-bottom: 1px dotted;
    text-decoration: none;
    margin: 0 4px; }
    .post-content a:hover {
      border-bottom-style: solid; }
  .post-content h1 a, .post-content h2 a, .post-content h3 a, .post-content h4 a, .post-content h5 a, .post-content h6 a, .post-content .toc a {
    border-bottom: 0;
    margin: 0; }
  .post-content img:not(.favicon) {
    cursor: -webkit-zoom-in;
    cursor: -moz-zoom-in;
    cursor: zoom-in; }
  .post-content p > img {
    display: block;
    margin: 0 auto;
    border: 1px solid #EEE;
    box-shadow: 0 4px 10px #E3E3E3; }
  .post-hidden {
    border-top: 3px dotted #DDD;
    padding-top: 30px;
    margin-top: 30px;
    position: relative; }
    .post-hidden:before {
      position: absolute;
      content: "以下为隐藏内容";
      top: 0;
      left: 0;
      background: #EEE;
      color: #888;
      padding: 5px 10px;
      transform: translateY(-50%); }

.copyright .label {
  margin-left: 10px; }

.bdsharebuttonbox {
  display: inline-block;
  vertical-align: middle; }

.heading-link {
  position: relative;
  color: #222; }
  .heading-link::before {
    position: absolute;
    content: "#";
    left: -15px;
    opacity: 0;
    transition: opacity 200ms; }
  .heading-link:hover {
    color: #222; }
    .heading-link:hover::before {
      opacity: 1; }

