$border-color: #e6e6e6;


.toc{
  display: inline-block;
  margin-right: 20px;
  min-width: 200px;
  border: 1px solid #ddd;
  padding: 20px;
}

.post {
  position: relative;

  &-content {
    img{
      cursor: -webkit-zoom-in;
      cursor: -moz-zoom-in;
      cursor: zoom-in;
    }

    p > img:only-child {
      display: block;
      margin: 0 auto;
      border: 1px solid #EEE;
      box-shadow: 0 4px 10px #E3E3E3;
    }
  }
}

.eof {
  position: relative;
  height: 30px;

  &:before,
  &:after {
    content: "";
    position: absolute;
    top: 0;
    width: 50%;
    height: 1px;
    background: -webkit-linear-gradient(90deg, #FFF 0, #ddd 30%, #ddd 100%);
    background: linear-gradient(90deg, #FFF 0, #ddd 30%, #ddd 100%);
  }

  &:before {
    left: 0;
  }

  &:after {
    right: 0;
    -webkit-transform: rotate(180deg);
    transform: rotate(180deg);
  }

  span {
    position: absolute;
    -webkit-transform: translateX(-50%) translateY(-50%);
    transform: translateX(-50%) translateY(-50%);
    left: 50%;
    top: -50%;
    background: #EEE;
    padding: 3px 6px;
    z-index: 1;
    color: #BEBEBE;
    border: 1px solid #DDD;
    border-radius: 6px;
    font-size: 12px;
  }
}

// 版权信息
.copyright {
  .label {
    margin-left: 10px;
  }
}


.bdsharebuttonbox{
  display: inline-block;
  vertical-align: middle;
}

.heading-link{
  position: relative;
  color: #222;

  &::before{
    position: absolute;
    content: "#";
    left: -15px;
    opacity: 0;
    transition: opacity 200ms;
  }

  &:hover{
    color: #222;
    &::before{
      opacity: 1;
    }
  }
}