.toc {
  float: left;
  margin-right: 20px;
  min-width: 200px;
  border: 1px solid #ddd;
  padding: 20px; }

.postmain {
  position: relative; }
  .postmain .postmain-meta {
    list-style: none;
    padding: 0;
    margin: 30px 0 0; }
    .postmain .postmain-meta li {
      line-height: 2; }
  .postmain .postmain-content p {
    white-space: pre-wrap; }
  .postmain .postmain-content img {
    cursor: -webkit-zoom-in;
    cursor: -moz-zoom-in;
    cursor: zoom-in; }
  .postmain .postmain-content p > img:only-child {
    display: block;
    margin: 0 auto;
    border: 1px solid #EEE;
    box-shadow: 0 4px 10px #E3E3E3; }

.bdsharebuttonbox {
  display: inline-block;
  vertical-align: middle; }

.heading-link {
  position: relative;
  color: #222; }
  .heading-link::before {
    position: absolute;
    content: "#";
    left: -15px;
    opacity: 0;
    transition: opacity 200ms; }
  .heading-link:hover {
    color: #222; }
    .heading-link:hover::before {
      opacity: 1; }
