

.toc{
  display: inline-block;
  min-width: 200px;
  border: 1px solid #CCC;
  padding: 20px;
}



//m-postmain
.postmain {
  position: relative;

  .postmain-meta {
    list-style: none;
    padding: 0;
    margin: 30px 0 0;

    li {
      line-height: 2;
    }
  }

  .postmain-content {
    p {
      white-space: pre-wrap;
    }

    img{
      max-width: 50%;
      cursor: -webkit-zoom-in;
      cursor: -moz-zoom-in;
      cursor: zoom-in;
    }

    p > img:only-child {
      display: block;
      margin: 0 auto;
    }
  }
}



.bdsharebuttonbox{
  display: inline-block;
  vertical-align: middle;
}

.heading-link{
  position: relative;
  color: #222;

  &::before{
    position: absolute;
    content: "#";
    left: -15px;
    opacity: 0;
    transition: opacity 200ms;
  }

  &:hover{
    color: #222;
    &::before{
      opacity: 1;
    }
  }
}