// developer 主页


.layout-body{
  margin-top: 50px;
}

//usercard
.usercard {
  &-main {
    margin-bottom: 20px;
  }

  &-avatar {
    width: 100px;
    height: 100px;
  }

  &-body {
    margin-left: 120px;
  }

  &-bio {
    margin-bottom: 20px;
  }

  &-statistics {
    border-top: 1px solid #ddd;
    padding: 20px 0;

    ul {
      margin: 0 0 10px;
    }

    li {
      margin-right: 20px;
    }
  }
}