.usercard-main {
  margin-bottom: 20px; }

.usercard-avatar {
  width: 100px;
  height: 100px; }

.usercard-body {
  margin-left: 120px; }

.usercard-bio {
  margin-bottom: 20px; }

.usercard-statistics {
  border-top: 1px solid #ddd;
  padding: 20px 0; }
  .usercard-statistics ul {
    margin: 0 0 10px; }
  .usercard-statistics li {
    margin-right: 20px; }

