// developer 主页


.layout-body{
  margin-top: 50px;
}

//usercard
.usercard {
  &-bio {
    margin-bottom: 20px;
  }

  &-statistics {
    border-top: 1px solid #ddd;
    padding: 20px 0;
    font-size: 14px;

    ul {
      margin: 0 0 15px;
    }

    li {
      margin-right: 20px;
      line-height: 20px;
    }

    & &-striped{
      margin: 0;
    }
  }
}


.history{
  .favicon{
    margin-right: 4px;
  }

  &-desc{
    padding: 15px 0;
    color: #666;
  }
}

.dlist{
  li{
    text-align: center;
    margin-bottom: 40px;
  }
}
