.links {
  padding: 0 10px; }
  .links > li {
    margin-bottom: 30px; }
  .links-type {
    font-size: 30px;
    border-bottom: 1px solid #4B9CDB;
    padding-bottom: 10px;
    margin-bottom: 20px;
    color: #4B9CDB; }
  .links-items {
    overflow: hidden; }
    .links-items > li {
      margin-bottom: 10px;
      margin-right: 20px;
      white-space: nowrap;
      line-height: 1; }
      .links-items > li a {
        display: block;
        border: 1px solid #C3E5FF;
        background-color: #D0EBFF;
        padding: 4px 8px;
        border-radius: 4px;
        -webkit-transition: all 0.3s;
        transition: all 0.3s; }
        .links-items > li a,
        .links-items > li a:link,
        .links-items > li a:visited,
        .links-items > li a:hover,
        .links-items > li a:active {
          text-decoration: none; }
        .links-items > li a:hover {
          background-color: #B8DCF7;
          border: 1px solid #A7D4F7; }
      .links-items > li .favicon {
        margin-right: 5px; }
  .links-text {
    vertical-align: middle; }
  .links-views {
    vertical-align: middle;
    background-color: #FFF;
    border-radius: 4px;
    padding: 0 4px;
    margin-left: 5px; }

