// module
$primary-bg-color: #00A2CA;
$primary-fg-color: lighten($primary-bg-color, 90%);
$border-color: #e6e6e6;




// m-home
.home {
  margin: 0;

  li {
    line-height: 30px;

    &:nth-child(1){
      background: #000;
    }
  }

  a {
    position: relative;
    display: block;
    padding: 20px;
    color: #fff;

    &:hover {
      text-decoration: none;
    }
  }

  &-icon {
    font-size: 80px;
    color: #fff;

    .fi{
      background: rgba(0, 0, 0, 0.4);
      padding: 20px;
      border-radius: 100%;
      width: 140px;
      height: 140px;
      line-height: 100px;
    }
  }

  &-name {
    font-size: 30px;
    line-height: 60px;
  }

  &-desc {
    font-size: 14px;
  }
}
