// module
$primary-bg-color: #00A2CA;
$primary-fg-color: lighten($primary-bg-color, 90%);
$border-color: #e6e6e6;

// m-home
.home {
  margin: 0;

  & > li {
    -webkit-background-size: cover;
    background-size: cover;
    background-position: center bottom;
    margin-bottom: 60px;
    border-radius: 6px;

    @media (max-width: 767px) {
      border-radius: 0;
      padding: 10px;
    }
  }

  &-icon {
    margin-top: 20px;
  }

  &-name {
    color: #fff;
    font-size: 20px;
    line-height: 60px;

    &:hover {
      color: #fff;
      text-decoration: none;
    }
  }

  &-items{
    background: rgba(255, 255, 255, 0.6);
    padding: 20px;

    li{
      line-height: 20px;
      margin-bottom: 10px;

      &:last-child{
        margin-bottom: 0;
      }
    }
  }
  
  &-item{
    &-avatar{
      width: 20px;
      height: 20px;
    }
  }
}
