// module
$primary-bg-color: #00A2CA;
$primary-fg-color: lighten($primary-bg-color, 90%);
$border-color: #e6e6e6;

// m-home
.home {
  li {
    line-height: 30px;
    border-top: 1px solid $border-color;

    &:nth-child(1) {
      border-top: 0;
    }

    @media (min-width: 767px) {
      &:nth-child(2) {
        border-top: 0;
      }

      &:nth-child(2n+1) {
        border-right: 1px solid #eee;
      }
    }
  }

  a {
    position: relative;
    display: block;
    padding: 20px;
    color: #666;

    &:hover {
      background: #F9F9F9;
      text-decoration: none;
    }
  }

  &-icon {
    font-size: 80px;
    color: #ececec;
  }

  &-name {
    font-size: 30px;
    line-height: 60px;
  }

  &-desc {
    font-size: 14px;
  }
}
