.home {
  margin: 0; }
  .home li {
    line-height: 30px; }
    .home li:nth-child(1) {
      background: #000; }
  .home a {
    position: relative;
    display: block;
    padding: 20px;
    color: #fff; }
    .home a:hover {
      text-decoration: none; }
  .home-icon {
    font-size: 80px;
    color: #fff; }
    .home-icon .fi {
      background: rgba(0, 0, 0, 0.4);
      padding: 20px;
      border-radius: 100%;
      width: 140px;
      height: 140px;
      line-height: 100px; }
  .home-name {
    font-size: 30px;
    line-height: 60px; }
  .home-desc {
    font-size: 14px; }

