.layout-body {
  margin-top: 50px; }

.ptitle {
  text-align: center;
  margin-bottom: 2em;
  background: -webkit-linear-gradient(#00A2CA 0, #F5F5F5 100%);
  background: -moz-linear-gradient(#00A2CA 0, #F5F5F5 100%);
  background: linear-gradient(#00A2CA 0, #F5F5F5 100%);
  padding-top: 30px; }
  .ptitle-cover {
    width: 101px;
    height: 101px;
    border-radius: 6px;
    border: 1px solid #fff; }
  .ptitle-name {
    margin: 20px 0 5px;
    padding: 0;
    font-weight: normal; }
  .ptitle-intro {
    margin-bottom: 2em;
    color: #37B5D4;
    max-width: 600px;
    margin-left: auto;
    margin-right: auto;
    font-size: 13px; }

.bdsharebuttonbox {
  display: inline-block;
  vertical-align: middle; }

.choose {
  padding: 20px;
  margin: -20px -20px 20px;
  list-style: none;
  background: #F8FDFF;
  line-height: 26px; }
  .choose-type {
    margin-right: 10px; }
  .choose li {
    margin-bottom: 10px; }
    .choose li > * {
      float: left; }
    .choose li > a {
      padding: 0 10px; }
      .choose li > a.active {
        background: #0e90d2;
        color: #fff; }
    .choose li > a:last-child {
      margin-right: 0; }

.summarylist {
  list-style: none;
  padding: 0;
  margin: 0; }
  .summarylist-item {
    border-bottom: 1px solid #f0f0f0;
    padding-bottom: 20px;
    margin-bottom: 20px; }
    .summarylist-item:last-child {
      border-bottom: 0;
      padding-bottom: 0;
      margin-bottom: 0; }
  .summarylist-body {
    margin-left: 60px;
    overflow: hidden; }
  .summarylist-name {
    padding: 0;
    font-size: 18px;
    margin: 0 0 10px;
    font-weight: normal; }
    @media (max-width: 767px) {
      .summarylist-name {
        font-size: 16px; } }
  .summarylist-meta {
    line-height: 20px; }
  .summarylist-contributors {
    margin: 0;
    padding: 0; }
    .summarylist-contributors > li {
      margin-left: 5px; }
    .summarylist-contributors a {
      opacity: .7; }
      .summarylist-contributors a:hover {
        opacity: 1; }
