<!DOCTYPE html>
<!--
 - 文件描述
 - @author ydr.me
 - @create 2014-12-21 15:00
 -->
<html>
<head lang="zh-cn">
    {{include ../include/meta.html}}
    {{include ./include/meta.html}}
</head>
<body ontouchstart="">

{{include ../front/include/nav.html}}

<div class="g-main">
    <div class="m-main">
        <h1 class="main-title"><i class="i i-user"></i>{{title}} - {{me.nickname}}</h1>
        <div class="main-body">
            <div class="m-me">
                <div class="me-avatar me-avatar-abs">
                    <img src="{{me.email|gravatar:100}}" alt="avatar"/>
                </div>
            </div>
            {{include ./include/developer/me.html}}
        </div>
    </div>
    {{include ./include/footer.html}}
</div>


<script src="/static/js/libs/coolie.min.js"
        data-config="./coolie-config.js"
        data-main="./admin/developer-me.js"></script>
</body>
</html>