<!DOCTYPE html>
<!--
 - 文件描述
 - @author ydr.me
 - @create 2014-12-14 13:08
 -->
<html>
<head lang="zh-cn">
    {{include ../include/meta.html}}
    {{include ./include/meta.html}}
    <script>
        window['-section-uri-map-'] = {{=sectionURIMap}};
    </script>
</head>
<body ontouchstart="">

{{include ./include/header.html}}
{{include ./include/sidebar.html}}
<div class="g-main">
    <div class="m-main">
        <h1 class="main-title"><i class="i i-at"></i>{{title}}</h1>
        <div class="main-body">
            {{include ./include/notification/list.html}}
        </div>
    </div>
    {{include ./include/footer.html}}
</div>

<script src="/static/js/libs/coolie.min.js" data-main="./admin/notification.js"></script>
<script src="/static/js/libs/coolie-config.js"></script>

</body>
</html>