<!DOCTYPE html>
<!--
 - 文件描述
 - @author ydr.me
 - @create 2014-12-15 21:28
 -->
<html>
<head lang="zh-cn">
    {{include ../include/meta.html}}
    {{include ./include/meta.html}}
    <script>window['-section-']='{{section}}';</script>
</head>
<body ontouchstart="">

{{include ../front/include/nav.html}}

<div class="g-main">
    <div class="m-main">
        <h1 class="main-title">
            <i class="i i-question-circle"></i>{{title}}
            <a class="btn btn-success btn-xs" href="/admin/object/help/"><i class="i i-plus"></i>点击新建帮助文档</a>
            <small class="f-xsmall s-muted">{{introduction}}</small>
        </h1>
        <div class="main-body">
            {{include ./include/object/list-help.html}}
        </div>
    </div>
    {{include ./include/footer.html}}
</div>

<script src="/static/js/libs/coolie.min.js"
        data-config="./coolie-config.js"
        data-main="./admin/object-list.js"></script>

</body>
</html>