<!DOCTYPE html>
<!--
 - 文件描述
 - @author ydr.me
 - @create 2014-12-15 22:38
 -->
<html>
<head lang="zh-cn">
    {{include ../include/meta.html}}
    {{include ./include/meta.html}}
    <script>window['-section-']='help';</script>
    <script>window['-id-']='{{id}}';</script>
</head>
<body ontouchstart="">
{{include ./include/sidebar.html}}
{{include ./include/header.html}}

<div class="g-main">
    <div class="m-main">
        <h1 class="main-title"><i class="i i-question-circle"></i>{{title}}</h1>
        <div class="main-body">
            {{include ./include/object/item-help.html}}
        </div>
    </div>
    {{include ./include/footer.html}}
</div>

<script src="/static/js/libs/coolie.min.js" data-main="./admin/object-item.js"></script>
<script src="/static/js/libs/coolie-config.js"></script>
</body>
</html>