<!DOCTYPE html>
<!--
 - 文件描述
 - @author ydr.me
 - @create 2014-12-15 21:28
 -->
<html>
<head lang="zh-cn">
    {{include ../include/meta.html}}
    {{include ./include/meta.html}}
    <script>window['-section-']={uri:'question',id:'{{section}}'};</script>
</head>
<body ontouchstart="">

{{include ../front/include/nav.html}}


<div class="g-body a-slide-down-fixed">
    <div class="container">
        <div class="row g-container">
            <div class="col-xs-12 g-main">
                <div class="m-card">
                    <h2 class="card-title">
                        <i class="i i-cube"></i>{{title}}
                        <a class="btn btn-success btn-xs" href="/admin/object/question/"><i class="i i-plus"></i>新建提问</a>
                        <small class="text-xs s-muted">{{introduction}}</small>
                    </h2>

                    <div class="card-body">
                        {{include ./include/object/list-question.html}}
                    </div>
                </div>
            </div>
        </div>
    </div>

    {{include ../front/include/footer.html}}
</div>



<script src="/static/js/libs/vue.min.js"></script>
<script src="/static/js/coolie.min.js"
        data-config="./coolie-config.js"
        data-main="./admin/object-list.js"></script>

</body>
</html>