<!DOCTYPE html>
<!--
 - 文件描述
 - @author ydr.me
 - @create 2014-12-19 18:53
 -->
<html>
<head lang="zh-cn">
    {{include ../include/meta.html}}
    {{include ./include/meta.html}}
</head>
<body ontouchstart="">

{{include ./include/sidebar.html}}
<div class="g-main">
    {{include ./include/welcome.html}}
    <div class="m-main">
        <h1 class="main-title"><i class="i i-cogs"></i>{{title}}</h1>
        <div class="main-body">
            <div id="setting">
                <h2 class="main-subtitle"><i class="i i-github"></i>登录授权配置</h2>
                <h2 class="main-subtitle"><i class="i i-cloud"></i>阿里 OSS 配置</h2>
                <h2 class="main-subtitle"><i class="i i-envelope"></i>SMTP 配置</h2>
                <h2 class="main-subtitle"><i class="i i-globe"></i>社区配置</h2>
            </div>
        </div>
    </div>
    {{include ./include/footer.html}}
</div>

<script src="/static/js/libs/coolie.min.js" data-main="./admin/setting.js"></script>
<script src="/static/js/libs/coolie-config.js"></script>
</body>
</html>