<ul class="m-form m-form-vertical">
    <li>
        <div class="form-key">name<strong class="form-required">*</strong></div>
        <div class="form-val">
            <input class="ipt" type="text" v-model="section.name" id="translate"/>
            <p class="form-desc">中英文及逗号，50长度以内。</p>
        </div>
    </li>

    <li>
        <div class="form-key">uri<strong class="form-required">*</strong></div>
        <div class="form-val">
            <input class="ipt" type="text" v-model="section.uri"/>
            <p class="form-desc">英文数字、下划线、短横线，50长度以内。</p>
        </div>
    </li>

    <li>
        <div class="form-key">cover（200*200px）<strong class="form-required">*</strong></div>
        <div class="form-val">
            <button class="btn btn-default btn-file" v-on="click: onupload">选择图片文件并裁剪上传</button>
            <input class="ipt" type="hidden" v-model="section.cover"/>
            <div class="form-opt text-center" v-class="f-none: !section.cover">
                <img v-attr="src: section.cover" alt="cover" width="100" height="100"/>
            </div>
        </div>
    </li>

    <li>
        <div class="form-key">role<strong class="form-required">*</strong></div>
        <div class="form-val">
            <input class="ipt" type="text" v-model="section.role"/>
            <p class="form-desc">权限值请控制在 <strong>[0-10]</strong> 内。</p>
        </div>
    </li>

    <li>
        <div class="form-key">introduction<strong class="form-required">*</strong></div>
        <div class="form-val">
            <textarea class="ipt" rows="3" v-model="section.introduction"></textarea>
            <p class="form-desc">10-1000长度以内。</p>
        </div>
    </li>

    <li>
        <div class="form-action text-center">
            <button class="btn btn-danger" v-on="click: onreset" v-attr="disabled: !section.id">重置</button>
            <button class="btn btn-primary" v-on="click: onsave">\{{section.id ? '保存版块' : '新建版块'}}</button>
        </div>
    </li>
</ul>