<!DOCTYPE html>
<!--
 - home
 - @author ydr.me
 - @create 2014-12-04 16:18
 -->
<html>
<head lang="zh-cn">
    {{include ../include/meta.html}}
    {{include ./include/meta.html}}
</head>
<body ontouchstart="" class="p-home">
{{include ./include/nav.html}}


<div class="container">
    <div class="row g-container">
        <!--主-->
        <div class="col-md-9 g-main">
            <ul class="avg-xs-1 avg-sm-2 f-text-center m-home">
                <li class="home-question">
                    <a href="/question/">
                        <span class="home-name"><i class="i i-cube"></i>智问</span>

                        <span class="home-desc">智慧提问，智慧回答。</span>
                    </a>
                </li>
                <li class="home-help">
                    <a href="/help/">
                        <span class="home-name"><i class="i i-question-circle"></i>帮助</span>
                        <span class="home-desc">官方援助，助力融入前端开发者社区。</span>
                    </a>
                </li>
            </ul>
        </div>
        <!--/主-->

        <!--副-->
        <div class="col-md-3 g-sub">
            <!--统计-->
            <div class="m-card">
                <div class="card-title"><i class="i i-bar-chart"></i>统计</div>
                <div class="card-body">
                    <ul class="m-simplelist s-muted">
                        <li><i class="i i-cube"></i>312,312,991</li>
                        <li><i class="i i-question-circle"></i>1,223,901</li>
                    </ul>
                </div>
            </div>
            <!--/统计-->
        </div>
        <!--/副-->
    </div>
</div>


{{include ./include/footer.html}}
</body>
</html>