<!DOCTYPE html>
<!--
 - 文件描述
 - @author ydr.me
 - @create 2014-12-04 16:18
 -->
<html>
<head lang="zh-cn">
    {{include ../include/meta.html}}
    <!--coolie-->
    <link rel="stylesheet" href="/static/css/0normalize.css"/>
    <link rel="stylesheet" href="/static/css/1function.css"/>
    <link rel="stylesheet" href="/static/css/2grid.css"/>
    <link rel="stylesheet" href="/static/css/3base.css"/>
    <link rel="stylesheet" href="/static/css/4form.css"/>
    <link rel="stylesheet" href="/static/css/5icon.css"/>
    <link rel="stylesheet" href="/static/css/6animation.css"/>
    <link rel="stylesheet" href="/static/css/7module.css"/>
    <!--/coolie-->
    <title>home.html</title>
</head>
<body ontouchstart="">
<div class="container">
    <div class="row">
        <div class="col-sm-12">
            <blockquote>
                <p>无论走到哪里，都应该记住，过去都是假的，回忆是一条没有尽头的路，一切以往的春天都不复存在，就连那最坚韧而又狂乱的爱情归根结底也不过是一种转瞬即逝的现实。</p>
                <small>马尔克斯 ——《百年孤独》</small>
            </blockquote>

            <p>To switch <code>directories</code>, type <kbd>cd</kbd> followed by the name of the directory.<br></p>


            <p>To edit settings, press <kbd><kbd>ctrl</kbd> + <kbd>,</kbd></kbd></p>

            <pre>&lt;p&gt;Sample text here...&lt;/p&gt;</pre>
        </div>
    </div>

    <div class="row">
        <div class="col-sm-12">
            <p>4form</p>
            <input class="ipt" type="text" placeholder="输入框"/>
            <button class="btn btn-default">default 按钮</button>
            <button class="btn btn-primary">primary 按钮</button>
            <button class="btn btn-success">success 按钮</button>
            <button class="btn btn-danger">danger 按钮</button>
            <button class="btn btn-info">info 按钮</button>
            <button class="btn btn-warning">warning 按钮</button>
            <button class="btn btn-default btn-block">block 按钮</button>
        </div>
    </div>

    <div class="row">
        <div class="col-sm-12">
            <p>label + badge</p>
            <a class="label label-default" href="#">label-default</a>
            <a class="label label-primary" href="#">label-primary</a>
            <a class="label label-success" href="#">label-success</a>
            <a class="label label-danger" href="#">label-danger</a>
            <a class="label label-info" href="#">label-info</a>
            <a class="label label-warning" href="#">label-warning</a>
            <hr/>
            <span class="badge badge-default">badge-default</span>
            <span class="badge badge-primary">badge-primary</span>
            <span class="badge badge-success">badge-success</span>
            <span class="badge badge-danger">badge-danger</span>
            <span class="badge badge-info">badge-info</span>
            <span class="badge badge-warning">badge-warning</span>
        </div>
    </div>

    <div class="row">
        <div class="col-xs-12">
            <p>breadcrumb + pagination</p>
            <ol class="m-breadcrumb">
                <li><a href="#">首页</a></li>
                <li><a href="#">分类</a></li>
                <li class="am-active">内容</li>
            </ol>

            <ul class="m-pagination">
                <li><a href="#">&laquo;</a></li>
                <li><a href="#">1</a></li>
                <li><a href="#">2</a></li>
                <li><a href="#">3</a></li>
                <li><a href="#">4</a></li>
                <li><a href="#">5</a></li>
                <li><a href="#">&raquo;</a></li>
            </ul>
        </div>
    </div>
</div>
</body>
</html>