<!DOCTYPE html>
<!--
 - post-question
 - @author ydr.me
 - @create 2014-12-06 14:13
 -->
<html>
<head lang="zh-cn">
    {{include ../include/meta.html}}
    {{include ./include/meta.html}}
</head>
<body ontouchstart="" class="p-post p-post-opinion">
{{include ./include/nav.html}}

<div class="container">
<div class="row g-container">
<!--主-->
<div class="col-md-9 g-main">
    <!--内容-->
    <div class="m-card">
        <h2 class="card-title">
            <i class="i i-question"></i>组合输入另显示组合输入框使用Glyphicon在一个手机上显示正常，另外一个手机显示
        </h2>

        <div class="card-body m-postmain">
            <div class="postmain-content">
                <p>举例，开始状态：1 准备选择：2 结束后：3，想成为 单击：2 然后 右侧显示指定页 ，左侧 显示4 </p>

                <p>
                    会议认为，今年以来，党中央、国务院团结带领全国各族人民贯彻落实去年中央经济工作会议决策部署，牢牢把握发展大势，全面深化改革，保持宏观政策连续性和稳定性，创新宏观调控思路和方式，有针对性进行预调微调，扎实做好各项工作，实现了经济社会持续稳步发展，经济发展形势总体是好的。</p>

                <p>
                    会议强调，我国进入经济发展新常态，经济韧性好、潜力足、回旋空间大，为明年和今后经济持续健康发展提供了有利条件。同时，也要看到，经济发展新常态下出现的一些趋势性变化使经济社会发展面临不少困难和挑战，要高度重视、妥善应对。</p>

                <p>
                    会议指出，2015年是全面完成“十二五”规划的收官之年，是全面深化改革的关键之年，也是全面推进依法治国的开局之年，做好经济工作意义重大。要全面贯彻党的十八大和十八届三中、四中全会精神，坚持稳中求进工作总基调，坚持以提高经济发展质量和效益为中心，主动适应经济发展新常态，保持经济运行在合理区间，把转方式调结构放到更加重要位置，狠抓改革攻坚，突出创新驱动，强化风险防控，加强民生保障，促进经济持续健康发展和社会和谐稳定。</p>

                <p>
                    会议强调，要保持稳增长和调结构平衡，坚持宏观政策要稳、微观政策要活、社会政策要托底的总体思路，保持宏观政策连续性和稳定性，继续实施积极的财政政策和稳健的货币政策。要推进新型工业化、信息化、城镇化、农业现代化同步发展，逐步增强战略性新兴产业和服务业的支撑作用，着力推动传统产业向中高端迈进，促进大众创业、大众创新，积极发现培育新增长点。要稳定粮食和主要农产品产量，加快转变农业发展方式，从主要追求产量增长和拼资源、拼消耗的粗放经营，向数量质量效益并重、注重提高竞争力、注重可持续的集约发展转变。要优化经济发展空间格局，继续实施区域总体发展战略，推进“一带一路”、京津冀协同发展、长江经济带建设，积极稳妥推进城镇化，坚持不懈推进节能减排和生态环境保护。要加强保障改善民生工作，更加注重保障基本民生，更加关注低收入群众生活，更加重视社会大局稳定，特别要重视做好就业和扶贫工作。要坚定不移推进经济体制改革，推出既有年度特点、又有利于长远制度安排的改革举措，提高经济体制改革方案质量，抓好经济体制改革措施的落地。要释放内需潜力，促进进口和出口平衡、引进外资和对外投资平衡，逐步实现国际收支基本平衡。</p>
            </div>
            <ul class="postmain-meta s-light">
                <li>
                    <i class="i i-book"></i>
                    <a href="#" class="label label-default">scope1</a>
                </li>
                <li>
                    <i class="i i-tags"></i>
                    <a class="label label-light" href="#">label1</a>
                    <a class="label label-light" href="#">label2</a>
                    <a class="label label-light" href="#">label3</a>
                    <a class="label label-light" href="#">label4</a>
                </li>
                <li>
                    <i class="i i-clock-o"></i>
                    2014-12-21 12:21:19 &times; 21
                </li>
            </ul>
        </div>
    </div>
    <!--/内容-->

    <!--评论-->
    <div class="m-card">
        <div class="card-title"><i class="i i-comments"></i>回答与补充
            <small class="card-subtitle s-muted">21个回答，19个补充</small>
        </div>
        <div class="card-body">
            <!--评论-->
            <div class="m-respond f-clearfix">
                <div class="respond-avatar f-left">
                    <a href="#"><img src="/static/img/avatar.png" alt="avatar" width="50" height="50"/></a>
                </div>
                <div class="respond-body">
                    <textarea class="respond-input ipt" placeholder="你的智慧回答"></textarea>

                    <div class="respond-action f-text-right">
                        <a href="#" class="f-small"><i class="i i-question"></i>markdown 编辑器使用帮助</a>
                        <i class="f-space"></i>
                        <button class="btn btn-primary"><i class="i i-comment"></i>回答</button>
                    </div>
                </div>
            </div>
            <!--/评论-->

            <!--父评论列表-->
            <ul class="m-listcomments">
                {{list list as index,item}}
                <li class="listcomments-item">
                    <div class="f-clearfix listcomments-main">
                        <div class="listcomments-avatar f-left">
                            <a href="#"><img src="/static/img/avatar.png" alt="avatar" width="50" height="50"/></a>
                        </div>
                        <div class="listcomments-body">
                            <ul class="listcomments-meta s-light f-list-left">
                                <li><a href="#"><i class="i i-user"></i>云淡然</a></li>
                                <li><i class="i i-clock-o"></i> 2014-12-12 21:21:11</li>
                            </ul>

                            <div class="listcomments-content">{{item.content}}</div>

                            <ul class="listcomments-meta listcomments-action s-light f-list-left">
                                <li>
                                    <button class="btn btn-success btn-xs"><i class="i i-plus"></i>补充<span
                                            class="listcomments-number">99,123</span></button>
                                </li>
                                <li>
                                    <button class="btn btn-primary btn-xs"><i class="i i-thumbs-up"></i>赞同<span
                                            class="listcomments-number">99,123</span></button>
                                </li>
                                {{if index*1===0}}
                                <li>
                                    <span class="btn btn-warning btn-xs active" readonly><i
                                            class="i i-check"></i>采纳回答</span>
                                </li>
                                {{/if}}
                            </ul>
                        </div>
                    </div>

                    <div class="listcomments-children">
                        <!--子评论列表-->
                        <ul class="m-listcomments">
                            {{list list as item}}
                            <li class="listcomments-item">
                                <div class="f-clearfix listcomments-main">
                                    <div class="listcomments-avatar f-left">
                                        <a href="#"><img src="/static/img/avatar.png" alt="avatar" width="30"
                                                         height="30"/></a>
                                    </div>
                                    <div class="listcomments-body">
                                        <ul class="listcomments-meta s-light f-list-left">
                                            <li><a href="#"><i class="i i-user"></i>云淡然</a></li>
                                            <li><i class="i i-clock-o"></i> 2014-12-12 21:21:11</li>
                                        </ul>
                                        <div class="listcomments-content s-muted">{{item.content}}</div>
                                    </div>
                                </div>
                            </li>
                            {{/list}}
                        </ul>
                        <!--/子评论列表-->

                        <!--子分页器-->
                        <ul class="m-pager avg-xs-2 f-text-center">
                            <li class="pager-prev disabled"><a href="#"><i
                                    class="i i-angle-double-left"></i></a></li>
                            <li class="pager-next"><a href="#"><i class="i i-angle-double-right"></i></a></li>
                        </ul>
                        <!--/子分页器-->

                        <!--评论-->
                        <div class="m-respond f-clearfix">
                            <div class="respond-avatar f-left">
                                <a href="#"><img src="/static/img/avatar.png" alt="avatar" width="50" height="50"/></a>
                            </div>
                            <div class="respond-body">
                                <textarea class="respond-input ipt" placeholder="你的智慧补充"></textarea>

                                <div class="respond-action f-text-right">
                                    <button class="btn btn-primary"><i class="i i-plus"></i>补充</button>
                                </div>
                            </div>
                        </div>
                        <!--/评论-->
                    </div>
                </li>
                {{/list}}
            </ul>
            <!--/父评论列表-->
        </div>
        <div class="card-footer">
            <div class="card-more f-text-center">
                <button class="btn btn-default">更多回答<i class="i i-angle-double-right"></i></button>
            </div>
        </div>
    </div>
    <!--/评论-->
</div>
<!--/主-->
<!--副-->
<div class="col-md-3 g-sub">
    <!--作者-->
    <div class="m-card">
        <div class="card-title"><i class="i i-user"></i>作者</div>
        <div class="card-body f-text-center">
            <div>
                <a href="/engineer/cloudcome/"><img src="/static/img/avatar.png" alt="avatar" width="100" height="100"/></a>
            </div>
            <div>
                <a href="/engineer/cloudcome/"><i class="i i-user"></i>云淡然<i class="i i-check-circle-o s-success"></i></a>
            </div>
        </div>
    </div>
    <!--/作者-->

    <!--统计-->
    <div class="m-card">
        <div class="card-title"><i class="i i-bar-chart"></i>统计</div>
        <div class="card-body">
            <ul class="m-simplelist s-muted">
                <li><i class="i i-clock-o"></i>2014-12-1 12:21:19</li>
                <li><i class="i i-eye"></i>1,223,901</li>
                <li><i class="i i-comment"></i>90,312,901</li>
                <li><i class="i i-star"></i>31,091,331</li>
                <li class="f-text-center">
                    <button class="btn btn-success"><i class="i i-comment"></i>回答</button>
                    <button class="btn btn-primary"><i class="i i-star"></i>关注</button>
                </li>
            </ul>
        </div>
    </div>
    <!--/统计-->
</div>
<!--/副-->
</div>
</div>

{{include ./include/footer.html}}
</body>
</html>