.g-sidebar {
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  width: 120px;
  background: #333;
  overflow: hidden;
}
.g-header {
  position: fixed;
  left: 120px;
  top: 0;
  right: 0;
  z-index: 9;
  background: #333;
  padding: 10px;
  border-bottom: 1px solid #242424;
  color: #aaa;
}
.g-main {
  margin-left: 120px;
  margin-top: 50px;
}
nav {
  height: 100%;
}
nav ul {
  list-style: none;
  padding: 0;
  margin: 0;
}
nav a {
  display: block;
  padding: 10px;
  color: #ccc;
}
nav a:hover {
  background: #222;
  color: #fff;
}
nav li.active a {
  background: #222;
  color: #fff;
  font-weight: 900;
  box-shadow: inset 0 2px 7px #101010;
}
