$primary-bg-color: #128CC2;
$primary-fg-color: lighten($primary-bg-color, 90%);
$border-color: #e6e6e6;
$sidebar-width: 120px;



.m-main {
  .main-title,
  .main-subtitle {
    font-weight: normal;
    padding: 20px;
    margin: 0;

    .i {
      margin-left: 0;
    }
  }

  .main-title {
    color: #000;
  }

  .main-subtitle {
    color: #555;
  }

  .main-tab {
    padding: 0;
    margin: 0;
    list-style: none;

    li {
      float: left;
    }

    a {
      display: block;
      padding: 5px 30px;
      color: #888;
      background: #F9F9F9;
      border: 1px solid #ddd;
      margin-right: -1px;
      cursor: pointer;
    }

    li.active {
      a {
        color: #0e90d2;
        cursor: default;
        background: #fff;
        pointer-events: none;
      }
    }
  }

  .main-body {
    padding: 20px;
  }
}

.m-welcome {
  padding: 20px;
  background: lighten($border-color, 7%);
  border-bottom: 1px solid $border-color;
}


.m-types {
  tr {
    &:first-child {
      .types-up {
        display: none;
      }
    }

    &:last-child {
      .types-down {
        display: none;
      }
    }
  }
}

//m-pager
.m-pager {
  margin: 0;

  a {
    display: block;
    color: #888;
    background: #fff;
    padding: 4px 0;

    &:hover {
      color: #333;
      background: #f9f9f9;
    }
  }

  li {
    border: 1px solid $border-color;

    &:last-child {
      border-left: 0;
    }

    &.disabled a,
    &.disabled a:hover {
      color: #ccc;
      cursor: not-allowed;
      background: transparent;
      pointer-events: none;
    }
  }
}

.m-form {
  padding: 0;
  margin: 0;
  list-style: none;
  $width: 140px;

  > li {
    position: relative;
    padding: 0 0 0 $width;
    margin-bottom: 20px;
    min-height: 36px;
  }

  > li.form-striped {
    margin-bottom: 0;
  }

  > li.form-desc {
    padding: 0;
    margin-top: 0;
    margin-bottom: 20px;
  }

  .form-key {
    position: absolute;
    width: $width;
    left: 0;
    top: 0;
    text-align: right;
    font-weight: 900;
    color: #555;
    line-height: 36px;
    padding: 0;
    margin: 0;
  }

  .form-required {
    color: #ff0025;
    margin-left: 5px;
  }

  .form-val {
    padding: 0;
    margin: 0 0 0 20px;
  }

  .form-action {
    padding: 20px;
    margin-left: -100px;
    margin-top: 40px;
    border-top: 1px solid #ECECEC;
  }

  .form-opt {
    display: block;
    margin: 0;
    padding: 5px 0;
  }

  .form-desc {
    padding: 0;
    margin: 10px 0 0;
    color: #888;
    font-size: 14px;
    line-height: 20px;

    code, strong, a {
      margin: 0 5px;
    }
  }

  &-vertical {
    > li {
      padding: 0;
    }

    .form-key, .form-val {
      position: relative;
      display: block;
      width: 100%;
      margin: 0;
      text-align: left;
    }

    .form-action {
      margin-left: 0;
    }
  }
}
