<!--内容-->
<div class="m-card">
    <h2 class="card-title" id="object-title">
        <i class="fi fi-file-text"></i>
        {{object.title}}
    </h2>

    <div class="card-body m-postmain">
        <div class="postmain-content">{{=object.contentHTML}}</div>
        <ul class="postmain-meta text-light">
            {{if object.column}}
            <li>
                <i class="fi fi-book"></i>
                <a href="/column/{{object.column.uri}}/" class="label label-default">{{object.column.name}}</a>
            </li>
            {{/if}}
            <li>
                <i class="fi fi-folder"></i>
                <a href="/article/in/{{object.category.uri}}/" class="label label-default">{{object.category.name}}</a>
            </li>
            {{if object.labels.length }}
            <li>
                <i class="fi fi-tags"></i>
                {{list object.labels as label}}
                <a class="label label-light" href="/article/on/{{label}}/">{{label}}</a>
                {{/list}}
            </li>
            {{/if}}
            <li>
                <i class="fi fi-clock-o"></i>
                <span>{{object.updateAt|datefrom}} &times; {{object.updateList.length}}</span>
            </li>
            {{if object.author.id === $developer.id}}
            <li>
                <i class="fi fi-pencil"></i>
                <a href="/admin/object/article/?id={{object.id}}">重新编辑</a>
            </li>
            {{/if}}
        </ul>
    </div>
</div>
<!--/内容-->
