<div class="m-card">
    <h2 class="card-title"><i class="fi fi-user"></i>{{developer.nickname}}
        {{if developer.hasCertificated}}<i class="fi fi-check-circle s-success" title="个人认证"></i>{{/if}}
        {{if pageType !== "home"}}<span class="text-space s-light">/</span><i class="fi fi-home"></i><a href="/developer/{{=developer.githubLogin}}/">主页</a>{{/if}}
        <div class="card-endtitle">
            {{if developer.weibo}}
            <a href="http://weibo.com/{{=developer.weibo}}/" class="text-danger"><i class="fi fi-weibo"></i></a>
            {{/if}}

            <a href="https://github.com/{{=developer.githubLogin}}" class="text-danger"><i class="fi fi-github"></i></a>
        </div>
    </h2>
    <div class="card-body">
        <div class="m-usercard">
            <div class="usercard-main clearfix">
                <div class="usercard-avatar pull-left">
                    <img src="{{developer.email|gravatar:200}}" alt="avatar" width="100"
                                     height="100"/>
                </div>
                <div class="usercard-body">
                    <ul class="m-simplelist">
                        <li><i class="fi fi-map-marker"></i>{{developer.meta.location}}</li>
                        <li><i class="fi fi-group"></i>{{developer.meta.company}}</li>
                        <li><i class="fi fi-link"></i>{{if developer.meta.blog}}<a
                                href="{{developer.meta.blog}}" target="_blank">{{developer.meta.blog}}</a>{{else}}unknow{{/if}}</li>
                    </ul>
                </div>
            </div>

            <blockquote class="usercard-bio">{{developer.meta.bio}}</blockquote>

            <div class="usercard-statistics s-muted text-sm">
                <ul class="list-left">
                    <li><i class="fi fi-circle"></i>{{developer.score|humanize}} 声望</li>
                    <!--<li><i class="fi fi-star"></i>{{developer.followByCount|humanize}} 个关注</li>-->
                    <li><i class="fi fi-check-square"></i><a href="/developer/{{=developer.githubLogin}}/accept-by/">被采纳 {{developer.acceptByCount|humanize}} 次</a></li>
                    <li><i class="fi fi-thumbs-up"></i><a href="/developer/{{=developer.githubLogin}}/agree-by/">被赞同 {{developer.agreeByCount|humanize}} 次</a></li>
                    <li><i class="fi fi-comment"></i><a href="/developer/{{=developer.githubLogin}}/comment-by/">被评论 {{developer.commentByCount|humanize}} 次</a></li>
                    <li><i class="fi fi-reply"></i><a href="/developer/{{=developer.githubLogin}}/reply-by/">被回复 {{developer.replyByCount|humanize}} 次</a></li>
                </ul>

                <ul class="list-left">
                    <li><i class="fi fi-file-text"></i><a href="/article/by/{{=developer.githubLogin}}/">{{sectionStatistics.article}} 篇文章</a></li>
                    <li><i class="fi fi-cube"></i><a href="/question/by/{{=developer.githubLogin}}/">{{sectionStatistics.question}} 次提问</a></li>
                    <li><i class="fi fi-link"></i><a href="/link/by/{{=developer.githubLogin}}/">{{sectionStatistics.link}} 个链接</a></li>
                </ul>
            </div>
        </div>
    </div>
</div>