<!DOCTYPE html>
<!--
 - 文件描述
 - @author ydr.me
 - @create 2014-12-21 15:00
 -->
<html>
<head lang="zh-cn">
    {{include ../include/meta.html}}
    {{include ./include/meta.html}}
    <script>window['-id-']='{{id}}';</script>
</head>
<body ontouchstart="">

{{include ./include/sidebar.html}}
{{include ./include/header.html}}
<div class="g-main">
    <div class="m-main">
        <h1 class="main-title">{{title}}</h1>
        <h2 class="main-subtitle"><i class="i i-user"></i>摘要信息</h2>
        <div class="main-body">
            {{include ./include/developer/detail.html}}
        </div>

        <hr/>

        <h2 class="main-subtitle"><i class="i i-key"></i>数量统计</h2>
        <div class="main-body">
            {{include ./include/developer/statistics.html}}
        </div>

        <hr/>

        <h2 class="main-subtitle"><i class="i i-key"></i>权限控制</h2>
        <div class="main-body">
            {{include ./include/developer/role.html}}
        </div>
    </div>
    {{include ./include/footer.html}}
</div>


<script src="/static/js/libs/coolie.min.js"
        data-config="./coolie-config.js"
        data-main="./admin/developer-detail.js"></script>


</body>
</html>