<nav role="navigation">
    <a href="#" class="i i-bars i-2x visible-xs"></a>

    <div class="container f-clearfix">
        <h1 href="#" class="f-left nav-logo"><a href="#">logo</a></h1>
        <ul class="f-left nav-left m-nav">
            <li><a href="#"><i class="i i-bullhorn"></i>观点</a></li>
            <li><a href="#"><i class="i i-question"></i>智问</a></li>
            <li><a href="#"><i class="i i-book"></i>笔记</a></li>
            <li><a href="#"><i class="i i-link"></i>链接</a></li>
        </ul>
        <ul class="f-right nav-right m-nav">
            <li><a href="#" class="label label-success"><i class="i i-user"></i>登录</a></li>
            <li><a href="#" class="label label-info"><i class="i i-question-circle"></i>帮助</a></li>
        </ul>
    </div>
</nav>