.banner{
  position: relative;
  text-align: center;
  background: rgba(75, 156, 219, 0.2);
  //background: -webkit-linear-gradient( #00A2CA 0, #F5F5F5 100%);
  //background: -moz-linear-gradient( #00A2CA 0, #F5F5F5 100%);
  //background: linear-gradient( #00A2CA 0, #F5F5F5 100%);
  padding-top: 30px;
  padding-bottom: 30px;
  -webkit-transition: background 500ms;
  transition: background 500ms;
  min-height: 300px;
  color: #fff;
  overflow: hidden;

  &-bg{
    position: absolute;
    z-index: -1;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    -webkit-filter: blur(22px);
    -webkit-transform: scale(1.5);
    transform: scale(1.5);
    opacity: 0.8;
  }

  &-center{
    display: table;
    width: 100%;
  }

  &-inner{
    display: table-cell;
    vertical-align: middle;

    img{
      vertical-align: middle;
    }
  }

  &-cover,
  &-info{
    display: inline-block;
    vertical-align: middle;
  }

  &-info{
    margin-left: 20px;
    text-align: left;
  }

  &-name{
    padding: 0;
    font-weight: normal;
  }

  &-labels{
    margin-bottom: 10px;
    font-size: 12px;
  }

  &-intro,
  &-desc{
    max-width: 400px;
    font-size: 13px;
    color: #EAF5FF;
  }

  &-desc{
    padding-top: 10px;
  }

  &-action{
    margin-top: 40px;
  }

  &-share{
    position: absolute;
    right: 20px;
    bottom: 20px;
  }
}