<div id="loadProgress" class="progress progress-top"></div>
<style>.progress-top{width: 1%;}</style>
<script>
    (function () {
        var $loadProgress = document.querySelector('#loadProgress');
        var progress = 1;
        var random = function(min, max){
            return Math.floor(Math.random() * (max - min + 1) + min);
        };
        var onprogress = function () {
            var timeout = random(10, 100);

            setTimeout(function () {
                if(window.loaded){
                    $loadProgress.style.width = '100%';
                    setTimeout(function () {
                        $loadProgress.classList.add('done');
                    }, 500);

                    return;
                }

                progress += random(1, 5);

                if(progress > 98){
                    progress = 98;
                }

                $loadProgress.style.width = progress + '%';
                onprogress();
            }, timeout);
        };

        onprogress();
    })();
</script>
<header id="header">
    <nav role="navigation" class="nav" id="nav">
        <div class="nav-bg j-flag"></div>
        <div class="nav-toggle j-flag"><i class="fi fi-bars"></i></div>
        <div class="clearfix">
            <ul class="pull-left list-left nav-left nav-list j-flag transition">
                <li class="nav-item-home"><a href="/"><i class="fi fi-home"></i>{{$settings.website.title}}</a></li>
                <li class="nav-item-article"><a href="/article/"><i class="fi fi-file-text"></i>文章</a></li>
                <li class="nav-item-question"><a href="/question/"><i class="fi fi-cube"></i>问答</a></li>
                <li class="nav-item-link"><a href="/link/"><i class="fi fi-link"></i>链接</a></li>
                <li class="nav-item-column"><a href="/column/"><i class="fi fi-book"></i>专辑</a></li>
                <!--<li><a href="/weibo/"><i class="fi fi-twitter"></i>微博</a></li>-->
                <li class="nav-item-help"><a href="/help/"><i class="fi fi-question-circle"></i>帮助</a></li>
                <li class="nav-item-search"><a href="https://www.google.com/search?newwindow=1&safe=strict&q=site%3Afrontenddev.org"><i class="fi fi-search"></i>搜索</a></li>
                <!--<li><a href="/rank/"><i class="fi fi-signal"></i>排行</a></li>-->
            </ul>
        </div>
        <div class="nav-group j-flag" style="width:{{$developer.id ? '70':'100'}}px;">
            {{if $developer.id}}
            <a href="javascript:;" class="nav-drop transition j-notification-wrap"><img class="img-rounder img-border-blank" src="{{=$developer.avatarM}}" alt="avatar" coolieignore/></a>
            {{else}}
            <a href="javascript:;" class="nav-join j-login"><i class="fi fi-user"></i>加入</a>
            {{/if}}
        </div>
    </nav>

    {{if $developer.id}}
    <ul class="nav-downlist j-flag transition" id="nav-downlist">
        <li><a href="/admin/me/"><i class="fi fi-user"></i>关于我</a></li>
        <li><a href="/admin/notification/" class="j-notification-wrap"><i class="fi fi-at"></i>我的通知</a></li>
        {{if $permission.column}}
        <li><a href="/admin/column/"><i class="fi fi-book"></i>我的专辑</a></li>
        {{/if}}
        <li><a href="/admin/object/article/list/"><i class="fi fi-file-text"></i>我的文章</a></li>
        <li><a href="/admin/object/question/list/"><i class="fi fi-cube"></i>我的提问</a></li>
        <li><a href="/admin/object/link/list/"><i class="fi fi-link"></i>我的链接</a></li>
        {{if $permission.help}}
        <li><a href="/admin/object/help/list/"><i class="fi fi-question-circle"></i>帮助管理</a></li>
        {{/if}}
        <li><a href="javascript:;" class="j-logout"><i class="fi fi-power-off"></i>登出</a></li>
    </ul>
    {{/if}}
</header>
