<div class="g-sidebar">
    <nav>
        <ul id="nav">
            <li>
                <a href="/"><i class="i i-home"></i><span>社区首页</span></a>
            </li>
            <li>
                <a href="/sadmin/"><i class="i i-dashboard"></i><span>管理首页</span></a>
            </li>
            <li>
                <a href="/sadmin/setting/"><i class="i i-cogs"></i><span>web 配置</span></a>
            </li>
            <li>
                <a href="/sadmin/section/"><i class="i i-archive"></i><span>版块设置</span></a>
            </li>
            <li>
                <a href="/sadmin/category/"><i class="i i-folder"></i><span>分类设置</span></a>
            </li>
            <li>
                <a href="/sadmin/developer/list/"><i class="i i-users"></i><span>用户管理</span></a>
            </li>
        </ul>
    </nav>
</div>