<div class="g-sidebar">
    <nav>
        <ul id="nav" class="">
            <li>
                <a href="/"><i class="i i-home"></i><span>社区首页</span></a>
            </li>
            <li>
                <a href="/sadmin/"><i class="i i-dashboard"></i><span>管理首页</span></a>
            </li>
            <li>
                <a href="/sadmin/setting/"><i class="i i-cogs"></i><span>web 配置</span></a>
            </li>
            <li>
                <a href="/sadmin/section/"><i class="i i-archive"></i><span>版块设置</span></a>
            </li>
            <li class="active">
                <a href="/sadmin/category/"><i class="i i-folder"></i><span>分类设置</span></a>
            </li>
            <li>
                <a href="/sadmin/column/"><i class="i i-book"></i><span>专栏设置</span></a>
            </li>
            <li>
                <a href="/sadmin/object/article/list/"><i class="i i-file-text"></i><span>我的文章</span></a>
            </li>
            <li>
                <a href="/sadmin/object/question/list/"><i class="i i-cube"></i><span>我的提问</span></a>
            </li>
            <li>
                <a href="/sadmin/object/link/list/"><i class="i i-link"></i><span>我的链接</span></a>
            </li>
            <li>
                <a href="/sadmin/object/help/list/"><i class="i i-question-circle"></i><span>帮助管理</span></a>
            </li>
            <li>
                <a href="/sadmin/developer/list/"><i class="i i-users"></i><span>用户管理</span></a>
            </li>
            <li>
                <a href="/sadmin/me/"><i class="i i-user"></i><span>个人资料</span></a>
            </li>
        </ul>
    </nav>
</div>