*,*::before,*::after{
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

html {
  font-family: "Helvetica Neue", Helvetica, STHeiTi, sans-serif;
  font-size: 62.5%;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -moz-font-feature-settings: "liga", "kern";
}

// @link http://mux.alimama.com/posts/1423
@media only screen and (min-width: 481px) {
  html{
    font-size: 94% !important;
  }
}
@media only screen and (min-width: 561px) {
  html{
    font-size: 109% !important;
  }
}
@media only screen and (min-width: 641px) {
  html{
    font-size: 125% !important;
  }
}


body{
  color: #333;
  font-size: 16px;
}


/*Only phones */
@media only screen and (max-width: 640px) {
  /**
   * Break strings if their length exceeds the width of their container
   */
  body {
    word-wrap: break-word;
    -webkit-hyphens: auto;
    -ms-hyphens: auto;
    -moz-hyphens: auto;
    hyphens: auto;
  }
}

button, input, optgroup, select, textarea{
  font: initial;
}

button::-moz-focus-inner {
  border: 0;
  padding: 0;
}

p,
hr,
ul,
ol,
dl,
blockquote,
pre,
address,
fieldset,
figure {
  margin: 0 0 1.6rem 0;
}
* + p,
* + hr,
* + ul,
* + ol,
* + dl,
* + blockquote,
* + pre,
* + address,
* + fieldset,
* + figure {
  margin-top: 1.6rem;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0 0 1.6rem 0;
  font-weight: 600;
  font-size: 100%;
}
h1 {
  font-size: 1.5em;
}
h2 {
  font-size: 1.25em;
}
* + h1,
* + h2,
* + h3,
* + h4,
* + h5,
* + h6 {
  margin-top: 2em;
}
/* Ordered and unordered lists */
ul,
ol {
  padding-left: 2em;
}
/* Reset margin for nested lists */
ul > li > ul,
ul > li > ol,
ol > li > ol,
ol > li > ul {
  margin: 1em 0;
}

/**
 * Horizontal rule
 * 1. Address differences between Firefox and other browsers.
 */
hr {
  display: block;
  padding: 0;
  border: 0;
  height: 0;
  border-top: 1px solid #eeeeee;
  /* 1 */
  -webkit-box-sizing: content-box;
  box-sizing: content-box
  /* 1 */
}

/* Quotes */
blockquote {
  padding-top: 5px;
  padding-bottom: 5px;
  padding-left: 15px;
  border-left: 4px solid #dddddd;
  font-family: Georgia, "Times New Roman", Times, Kai, "Kaiti SC", KaiTi, BiauKai, "FontAwesome", serif
  /* Small print for identifying the source */
  /* Smaller margin if `small` follows */
}
blockquote small {
  display: block;
  color: #999999;
  font-family: "Segoe UI", "Lucida Grande", Helvetica, Arial, "Microsoft YaHei", FreeSans, Arimo, "Droid Sans", "wenquanyi micro hei", "Hiragino Sans GB", "Hiragino Sans GB W3", "FontAwesome", sans-serif;
  text-align: right;
}
blockquote p:last-of-type {
  margin-bottom: 0;
}

th, td {
  text-align: center;
}

a {
  color: #0e90d2;
  text-decoration: none;
}

a:hover,
a:focus {
  color: #095f8a;
  text-decoration: underline;
}

a:focus {
  outline: thin dotted;
  outline: 5px auto -webkit-focus-ring-color;
  outline-offset: -2px;
}

code {
  background: #FFF4F4;
  margin: 0 2px;
  padding: 1px 4px;
  border-radius: 3px;
  color: #E2456C;
  font-family: Menlo, Monaco, Consolas, "Courier New", monospace;
}

pre {
  background: #F6F6F6;
  padding: 10px;
  border: 1px solid #DDD;
  border-radius: 6px;
  word-wrap: normal;
}

pre code {
  background: transparent;
  margin: 0;
  padding: 0;
  border-radius: 0;
  color: initial;
}

img{
  max-width: 100%;
  height: auto;
  vertical-align: top;

  &.favicon{
    width: 16px !important;
    height: 16px !important;
    max-width: none !important;
    max-height: none !important;
    vertical-align: middle;
  }
}

.row::before,
.row::after,
[class*=avg-]::before,
[class*=avg-]::after,
.clearfix::before,
.clearfix:after,
.list-left::before,
.list-left::after,
.list-right::before,
.list-right::after {
  display: table;
  content: " ";
}

.row::after,
[class*=avg-]::after,
.clearfix::after,
.list-left::after,
.list-right::after {
  clear: both;
}

.none {
  display: none !important;
}

.visible {
  visibility: visible !important;
}

.hidden {
  visibility: hidden !important;
}

.transition {
  -webkit-transition: all .4s;
  transition: all .4s;
}

.loading {
  background: url("http://s.ydr.me/p/i/loading-32.gif") no-repeat 0/16px;
  display: inline-block;
  padding-left: 20px;
  color: #888;
}

.list-left,
.list-right {
  list-style: none;
}

.pull-left,
.list-left > * {
  float: left !important;
}

.pull-right,
.list-right > * {
  float: right !important;
}



