img.img-rounder{
  width: 100px;
  height: 100px;
  border-radius: 100%;
}

img.img-border-primary{
  width: 104px;
  height: 104px;
  border: 2px solid #4b9cdb;
}

img.img-border-blank{
  width: 104px;
  height: 104px;
  border: 2px solid #fff;
}