<div class="g-sidebar">
    <nav>
        <ul>
            <li><a href="/"><i class="i i-home"></i><span>社区首页</span></a></li>
            <li><a href="/admin/"><i class="i i-dashboard"></i><span>管理首页</span></a></li>
            <li><a href="/admin/type/"><i class="i i-suitcase"></i><span>板块类型</span></a></li>
            <li><a href="/admin/role/"><i class="i i-key"></i><span>权限管理</span></a></li>
            <li><a href="/admin/question/list/"><i class="i i-cube"></i><span>智问管理</span></a></li>
        </ul>
    </nav>
</div>