<!DOCTYPE html>
<!--
 - 文件描述
 - @author ydr.me
 - @create 2014-12-09 20:32
 -->
<html>
<head lang="zh-cn">
    {{include ../include/meta.html}}
    {{include ./include/meta.html}}

    <!--coolie-->
    <link rel="stylesheet" href="/static/css/app/front/developer.css"/>
    <!--/coolie-->

    <script>window['-ta-']={
        'id': '{{developer.id}}',
        'githubLogin': '{{developer.githubLogin}}',
        'nickname': '{{developer.nickname}}',
        'githubId': '{{developer.githubId}}'
    }</script>

    <script>window['-pager-']={
        'limit': '{{pager.limit}}',
        'page': '{{pager.page}}',
        'count': '{{pager.count}}'
    };</script>
</head>
<body ontouchstart="" class="p-developer">
{{include ./include/nav.html}}


<div class="layout-body a-fade-in">
    <div class="banner">
        <div class="banner-bg" id="cover" style="background-image: url('{{=$settings.default.banner}}')" coolieignore></div>

        <div class="banner-center">
            <div class="banner-inner">
                <img src="{{=developer.email|gravatar:200}}"
                     class="img-rounder img-border-blank"
                     alt="avatar" width="100" height="100" coolieignore/>
                <div class="banner-info">
                    <h1 class="banner-name">{{developer.nickname}}</h1>
                </div>
            </div>
        </div>

        <div class="banner-action">
            <button class="btn btn-blank btn-lg btn-ghost follow-developer"
                    data-id="{{developer.id}}">加载中...</button>
        </div>
        <div class="banner-share btn-group">
            <button class="btn btn-default share-weibo btn-primary"><i class="fi fi-weibo"></i><span class="hidden-xs hidden-sm">分享到新浪微博</span></button>
            <button class="btn btn-default share-qq btn-warning"><i class="fi fi-star-half-o"></i><span class="hidden-xs hidden-sm">分享到QQ空间</span></button>
            <button class="btn btn-default share-baidu btn-info"><i class="fi fi-paw"></i><span class="hidden-xs hidden-sm">分享到百度贴吧</span></button>
        </div>
    </div>

    <div class="container">
        <div class="row layout-container">
            <!--主-->
            <div class="col-md-12 layout-main">

                <!--我的关注-->
                <div class="card">
                    <h2 class="card-title"><i class="fi fi-user"></i>{{developer.nickname}}的关注（{{developer.following.length}}）
                        {{if developer.hasCertificated}}<i class="fi fi-check-circle text-success" title="个人认证"></i>{{/if}}
                        {{if pageType !== "home"}}<span class="text-space text-light">/</span><i class="fi fi-home"></i><a href="/developer/{{=developer.githubLogin}}/">主页</a>{{/if}}
                    </h2>

                    <div class="card-body" id="body">
                        {{include ./include/developer/follow.html}}
                    </div>

                    {{if list.length}}
                    <div class="card-footer text-center">
                        <!--分页器-->
                        <div id="pager"></div>
                        <!--/分页器-->
                    </div>
                    {{/if}}
                </div>
                <!--/我的关注-->

            </div>
            <!--/主-->
        </div>
    </div>

    {{include ./include/footer.html}}
</div>


{{ignore}}
<style type="text/plain" id="template">{{include ./include/developer/follow.html}}</style>
{{/ignore}}

{{include ./include/bottom.html}}
<script coolie src="http://sb.com:19092/coolie.js"
        data-config="http://sb.com:18082/static/js/coolie-config.js"
        data-main="./front/developer.js"></script>

</body>
</html>