<!DOCTYPE html>
<!--
 - post-opinion
 - @author ydr.me
 - @create 2014-12-06 14:13
 -->
<html>
<head lang="zh-cn">
    {{include ../include/meta.html}}
    {{include ./include/meta.html}}

    {{if page > 1}}
    <meta name="robots" content="nofollow"/>
    {{/if}}

    <meta name="date" content="{{object.updateAt|datetime:'YYYY-MM-DD'}}"/>

    <!--coolie-->
    <link rel="stylesheet" href="/static/css/app/front/detail.css"/>
    <!--/coolie-->

    <script>window['-author-']={
        id: '{{object.author.id}}',
        nickname: '{{object.author.nickname}}',
        githubLogin: '{{object.author.githubLogin}}'
    };</script>
    <script>window['-object-']={
        id: '{{object.id}}',
        acceptByResponse: '{{object.acceptByResponse || ""}}',
        commentByCount: '{{object.commentByCount}}',
        replyByCount: '{{object.replyByCount}}',
        hasHidden: '{{!!object.hidden}}',
        hasResponsed: '{{hasResponsed}}'
    };</script>
    <script>window['-section-']={uri:'link'};</script>
</head>
<body ontouchstart="" class="p-object-link">
{{include ./include/nav.html}}

<div class="layout-body a-fade-in">
    <div class="container">
        <div class="row layout-container">
            <!--主-->
            <div class="col-md-9 layout-main">
                <!--内容-->
                <div class="card">
                    <h2 class="card-title" id="object-title">
                        <i class="fi fi-file-text"></i>
                        {{object.title}}
                    </h2>

                    <div class="card-body post">
                        <div class="post-content typo" id="content">{{=object.contentHTML}}{{if object.hidden}}
                            {{if hasResponsed}}
                            <div class="post-hidden">
                                {{=object.hiddenHTML}}
                            </div>
                            {{else}}
                            <div class="post-hidden" id="hidden">
                                <p class="text-danger"><i class="fi fi-exclamation-triangle"></i>此处有隐藏内容，需要评论/回复后才可见。
                                </p>
                            </div>
                            {{/if}}
                            {{/if}}
                        </div>
                    </div>
                </div>
                <!--/内容-->

                <!--专辑-->
                {{if object.column}}
                <div class="card">
                    <h2 class="card-title">
                        <i class="fi fi-book"></i>
                        {{object.column.name}}
                        <small class="card-subtitle">{{object.column.introduction}}</small>
                    </h2>
                    <div class="card-body">
                        <ul class="simplelist">
                            {{list columnObjects as item}}
                            <li class="clearfix">
                                <time datetime="{{item.publishAt}}" class="pull-right text-light"><i class="fi fi-clock-o"></i>{{item.publishAt|datefrom}}</time>
                                <span class="badge badge-default">{{$sectionIDMap[item.section].name}}</span>
                                <a href="/{{=$sectionIDMap[item.section].uri}}/{{=item.uri}}.html">{{item.title}}</a>
                            </li>
                            {{/list}}
                        </ul>
                    </div>
                </div>
                {{/if}}
                <!--/专辑-->

                <div id="response"></div>
            </div>
            <!--/主-->
            <!--副-->
            <div class="col-md-3 layout-sub">
                {{include ./include/object/sub-author.html}}
                {{include ./include/object/sub-copyright.html}}
                {{include ./include/object/sub-statistics.html}}
            </div>
            <!--/副-->
        </div>
    </div>
    {{include ./include/footer.html}}
</div>


{{include ./include/bottom.html}}
<script coolie src="http://s.ydr.me/@/p/j/coolie/0.13.7/coolie.min.js"
        data-config="http://sb.com:18082/static/js/coolie-config.js"
        data-main="./front/object.js"></script>


</body>
</html>