<!--统计-->
<div class="m-card">
    <div class="card-title"><i class="i i-bar-chart"></i>统计</div>
    <div class="card-body">
        <ul class="m-simplelist s-muted">
            <li><i class="i i-clock-o"></i>2014-12-1 12:21:19</li>
            <li><i class="i i-eye"></i>1,223,901</li>
            <li><i class="i i-comment"></i>90,312,901</li>
            <li><i class="i i-plus-square"></i>90,312,901</li>
            <li><i class="i i-star"></i>31,091,331</li>
            <li class="f-text-center">
                <button class="btn btn-success"><i class="i i-comment"></i>回答</button>
                <button class="btn btn-primary"><i class="i i-star"></i>关注</button>
            </li>
        </ul>
    </div>
</div>
<!--/统计-->