<div id="list" class="m-roles f-none">
    <div class="alert alert-warning alert-line">
        <p><i class="i i-info-circle"></i>阿里云 OSS 配置。</p>
    </div>
    <table class="table">
        <thead>
        <tr>
            <th width="20%">键名</th>
            <th width="*">键值</th>
        </tr>
        </thead>
        <tbody>
        <tr>
            <td>domain</td>
            <td>
                <input type="text" class="ipt" v-model="alioss.domain"/>
            </td>
        </tr>
        <tr>
            <td>bucket</td>
            <td>
                <input type="text" class="ipt" v-model="alioss.bucket"/>
            </td>
        </tr>
        <tr>
            <td>host</td>
            <td>
                <input type="text" class="ipt" v-model="alioss.host"/>
            </td>
        </tr>
        <tr>
            <td>accessKeyId</td>
            <td>
                <input type="text" class="ipt" v-model="alioss.accessKeyId"/>
            </td>
        </tr>
        <tr>
            <td>accessKeySecret</td>
            <td>
                <input type="text" class="ipt" v-model="alioss.accessKeySecret"/>
            </td>
        </tr>
        </tbody>
        <tfoot>
        <tr>
            <td colspan="5" class="f-text-center">
                <button class="btn btn-primary" v-on="click:onsave">保存修改</button>
            </td>
        </tr>
        </tfoot>
    </table>
</div>