<div id="list" class="m-roles f-none">
    <div class="alert alert-warning alert-line">
        <p><i class="i i-info-circle"></i>阿里云 OSS 配置。</p>
    </div>
    <table class="table">
        <thead>
        <tr>
            <th width="30%">键名</th>
            <th width="*">键值</th>
        </tr>
        </thead>
        <tbody>
        <tr>
            <td><input class="ipt" type="text" name="role" value="domain"/></td>
            <td><textarea class="ipt" rows="2" name="desc" v-model="alioss.domain">\{{alioss.domain}}</textarea></td>
        </tr>
        <tr>
            <td><input class="ipt" type="text" name="role" value="bucket"/></td>
            <td><textarea class="ipt" rows="2" name="desc" v-model="alioss.bucket">\{{alioss.bucket}}</textarea></td>
        </tr>
        <tr>
            <td><input class="ipt" type="text" name="role" value="host"/></td>
            <td><textarea class="ipt" rows="2" name="desc" v-model="alioss.host">\{{alioss.host}}</textarea></td>
        </tr>
        <tr>
            <td><input class="ipt" type="text" name="role" value="accessKeyId"/></td>
            <td><textarea class="ipt" rows="2" name="desc" v-model="alioss.accessKeyId">\{{alioss.accessKeyId}}</textarea></td>
        </tr>
        <tr>
            <td><input class="ipt" type="text" name="role" value="accessKeySecret"/></td>
            <td><textarea class="ipt" rows="2" name="desc" v-model="alioss.accessKeySecret">\{{alioss.accessKeySecret}}</textarea></td>
        </tr>
        </tbody>
        <tfoot>
        <tr>
            <td colspan="5" class="f-text-center">
                <button class="btn btn-primary" v-on="click:onsave">保存修改</button>
            </td>
        </tr>
        </tfoot>
    </table>
</div>