<div id="list" class="m-roles f-none">
    <div class="alert alert-warning alert-line">
        <p><i class="i i-info-circle"></i>github 授权登录 oauth 配置。</p>
    </div>
    <table class="table">
        <thead>
        <tr>
            <th width="20%">键名</th>
            <th width="*">键值</th>
        </tr>
        </thead>
        <tbody>
        <tr>
            <td>appName</td>
            <td>
                <input type="text" class="ipt" v-model="oauth.appName"/>
            </td>
        </tr>
        <tr>
            <td>clientId</td>
            <td>
                <input type="text" class="ipt" v-model="oauth.clientId"/>
            </td>
        </tr>
        <tr>
            <td>clientSecret</td>
            <td>
                <input type="text" class="ipt" v-model="oauth.clientSecret"/>
            </td>
        </tr>
        </tbody>
        <tfoot>
        <tr>
            <td colspan="5" class="f-text-center">
                <button class="btn btn-primary" v-on="click:onsave">保存修改</button>
            </td>
        </tr>
        </tfoot>
    </table>
</div>