<h2 class="main-subtitle"><i class="i i-globe"></i>社区配置</h2>
<div class="m-website">
    <table class="table">
        <thead>
        <tr>
            <th width="20%">键名</th>
            <th width="*">键值</th>
        </tr>
        </thead>
        <tbody>
        <tr>
            <td>meta</td>
            <td><textarea class="ipt" rows="2" v-model="website.meta">\{{website.meta}}</textarea></td>
        </tr>
        <tr>
            <td>title</td>
            <td><textarea class="ipt" rows="2" v-model="website.title">\{{website.title}}</textarea></td>
        </tr>
        <tr>
            <td>keywords</td>
            <td><textarea class="ipt" rows="2" v-model="website.keywords">\{{website.keywords}}</textarea></td>
        </tr>
        <tr>
            <td>description</td>
            <td><textarea class="ipt" rows="2" v-model="website.description">\{{website.description}}</textarea></td>
        </tr>
        <tr>
            <td>statistics</td>
            <td><textarea class="ipt" rows="2" v-model="website.statistics">\{{website.statistics}}</textarea></td>
        </tr>
        </tbody>
        <tfoot>
        <tr>
            <td colspan="5" class="f-text-center">
                <button class="btn btn-primary" v-on="click:onsave">保存修改</button>
            </td>
        </tr>
        </tfoot>
    </table>
</div>