$primary-bg-color: #00A2CA;
$primary-fg-color: lighten($primary-bg-color, 90%);
$border-color: #e6e6e6;

// grid
body {
  background: #EAF5FF;
}




//g-container
.layout {
  &-body {
    margin-top: 100px;
  }

  &-container {
    background: #fff;
    box-shadow: 0 0 15px #ddd;
    
    @media (max-width: 991px) {
      .layout-main:after {
        width: 0;
      }

      .layout-sub:before {
        width: 0;
      }
    }
  }

  &-main,
  &-sub {
    padding-left: 0;
    padding-right: 0;
  }

  &-main {
    &:after {
      content: " ";
      position: absolute;
      top: 0;
      right: 0;
      bottom: 0;
      width: 1px;
      background: $border-color;
    }

    &:only-child {
      &:after {
        background: none;
      }
    }

    &.col-md-12 {
      &:after {
        background: none;
      }
    }
  }

  &-sub {
    &:before {
      content: " ";
      position: absolute;
      top: 0;
      left: -1px;
      bottom: 0;
      width: 1px;
      background: $border-color;
    }

    @media (max-width: 991px) {
      &:before {
        background: none;
      }
    }
  }
}

