//footer
footer {
  padding: 20px 0;
  margin-top: 100px;

  h3, p {
    margin: 0;
  }
}


.gotop {
  position: fixed;
  opacity: 0;
  font-size: 30px;
  right: 20px;
  bottom: 40px;
  color: #00A2CA;
  text-align: center;
  width: 30px;
  height: 30px;
  line-height: 30px;
  margin-right: 0;
  font-weight: 900;

  &.active {
    opacity: 1;
  }
}

.progress {
  position: fixed;
  z-index: 99;
  left: 0;
  width: 0;
  height: 2px;
  border-radius: 0 1px 1px 0;
  -webkit-transition: all 1000ms;
  transition: all 1000ms;

  &-top {
    top: 0;
    background: #fff;
    box-shadow: 0 0 10px #fff;

    &.done{
      opacity: 0;
    }
  }

  &-bottom {
    top: 50px;
    background: #00A2CA;
    box-shadow: 0 0 10px #00A2CA;
  }
}

