
//footer
footer {
  padding: 20px 0;
  margin-top: 100px;

  h3,p{
    margin: 0;
  }
}

.gotop {
  position: fixed;
  opacity: 0;
  font-size: 30px;
  right: 20px;
  bottom: 40px;
  color: #00A2CA;
  text-align: center;
  width: 30px;
  height: 30px;
  line-height: 30px;
  margin-right: 0;
  font-weight: 900;

  &.active {
    opacity: 1;
  }
}
