<h2 class="main-subtitle"><i class="fi fi-asterisk"></i>默认配置</h2>
<ul class="m-form">
    <li>
        <div class="form-key">专辑默认封面</div>
        <div class="form-val">
            <input type="text" class="ipt" v-model="default.column"/>
            <p class="form-desc">200*200px</p>
        </div>
    </li>
    <li>
        <div class="form-key">banner默认背景</div>
        <div class="form-val">
            <input type="text" class="ipt" v-model="default.banner"/>
            <p class="form-desc">1600*400px</p>
        </div>
    </li>
    <li>
        <div class="form-action text-center">
            <button class="btn btn-primary" v-on="click:onsave('default')">保存修改</button>
        </div>
    </li>
</ul>