<div class="m-card">
    <h2 class="card-title">
        <i class="i i-question-circle"></i>{{section.name}}
        <small class="card-subtitle s-muted hidden-xs">——{{section.introduction}}</small>
        <div class="card-endtitle">
            <span class="s-light f-small hidden-xs"><i class="i i-file-o"></i>{{count}}</span>
        </div>
    </h2>

    <div class="card-body">
        <div class="m-scopes">
            <div class="scopes-title s-muted"><i class="i i-folder"></i>所有分类</div>
            <ul class="scopes-list f-list-left">
                <li>
                    <a href="/question/" class="label label-default">所有</a>
                </li>
                {{list categories as index,category}}
                <li>
                    <a href="/question/in/{{category.uri}}/" class="label label-default">{{category.name}}</a>
                </li>
                {{/list}}
            </ul>
        </div>

        <!--列表-->
        <ul class="m-summarylist">
            {{if !objects.length}}
                <li>
                    <div class="alert alert-warning"> <i class="i i-info-circle"></i>暂无相关内容。</div>
                </li>
            {{/if}}
            {{list objects as object}}
            <li class="summarylist-item f-clearfix">
                <div class="summarylist-avatar f-left">
                    <a href="#"><img src="{{object.author.email|gravatar:100}}" alt="avatar" width="50" height="50"/></a>
                </div>
                <div class="summarylist-body">
                    <h2 class="summarylist-name f-ellipsis"><a
                            href="/question/{{object.uri}}.html">{{object.title}}</a></h2>

                    <div class="summarylist-meta s-light f-small row">
                        <div class="col-sm-8">
                            <ul class="avg-xs-2 avg-md-4">
                                <li><i class="i i-user i-striped"></i><a href="#">{{object.author.nickname}}</a></li>
                                <li class="hidden-xs"><i class="i i-eye"></i>{{object.viewByCount}}</li>
                                <li class="hidden-xs"><i class="i i-comments"></i>{{object.commentByCount}}</li>
                                <li>
                                    {{if object.acceptByResponse}}
                                    <span class="s-success"><i class="i i-check i-striped"></i>已解决</span>
                                    {{else}}
                                    <span class="s-danger"><i class="i i-exclamation-circle i-striped"></i>待解决</span>
                                    {{/if}}
                                </li>
                            </ul>
                        </div>
                        <div class="col-sm-4">
                            <ul class="summarylist-contributors f-list-right">
                                {{list object.contributors as contributor}}
                                <li>
                                    <a href="/engineer/{{contributor.githubLogin}}/" title="{{contributor.nickname}}">
                                        <img src="{{contributor.email|gravatar:40}}" width="20" height="20" alt="avatar"/>
                                    </a>
                                </li>
                                {{/list}}
                            </ul>
                        </div>
                    </div>
                </div>
            </li>
            {{/list}}
        </ul>
        <!--/列表-->

        <!--分页器-->
        <div id="pager"></div>
        <!--/分页器-->
    </div>
</div>
