<div id="roles" class="m-roles f-none">
    <div class="alert alert-warning alert-line">
        <p><i class="i i-info-circle"></i>发布权限请控制在 <strong>[11-20]</strong> 之间。</p>
    </div>
    <div class="alert alert-danger alert-line">
        <p><i class="i i-exclamation-triangle"></i>除非你自己知道后果，否则不要轻易更改。</p>
    </div>
    <table class="table">
        <thead>
        <tr>
            <th width="8%">序号</th>
            <th width="20%">名称</th>
            <th width="10%">操作权限</th>
            <th width="*">描述</th>
            <th width="5%">操作</th>
        </tr>
        </thead>
        <tbody>
        <tr v-repeat="role:roles">
            <td>\{{$index}}</td>
            <td><input class="ipt" type="text" name="name" v-model="role.name" value="\{{role.name}}"/></td>
            <td><input class="ipt" type="text" name="role" v-model="role.role" value="\{{role.role}}"/></td>
            <td><textarea class="ipt" rows="2" name="desc" v-model="role.desc">\{{role.desc}}</textarea></td>
            <td>
                <button class="btn btn-danger btn-xs" v-on="click:onremove($index)"><i class="i i-remove i-striped"></i></button>
            </td>
        </tr>
        </tbody>
    </table>

    <p class="f-text-center">
        <button class="btn btn-success" v-on="click:oncreate">新建一个</button>
        <button class="btn btn-primary" v-on="click:onsave">保存修改</button>
    </p>
</div>